openapi: 3.2.0
info:
  title: Drata Assets API
  description: '### What''s New in V2

    - Support for Custom Fields

    - Get and acknowledge user''s assigned policies

    - Payloads are streamlined to include only the essential information.'
  version: V2
  contact: {}
servers:
- url: https://public-api.drata.com/public/v2
- url: https://public-api.eu.drata.com/public/v2
- url: https://public-api.apac.drata.com/public/v2
tags:
- name: Assets
  description: Assets let you build an inventory of policies, personnel and computer infrastructure. The help docs have more information.
paths:
  /assets:
    get:
      description: 'Find Assets by search terms and filters.


        🔒 Requires **Assets: List Assets** permission.'
      operationId: AssetsPublicV2Controller_listAssets
      parameters:
      - name: cursor
        required: false
        in: query
        description: This parameter is used to paginate through results. No value is needed for the first request. If there are additional results, the response will contain a `pagination.cursor` value that can be used in the subsequent request to retrieve the next page of results
        schema:
          type: string
      - name: size
        required: false
        in: query
        description: Number of results to return
        schema:
          minimum: 1
          maximum: 500
          default: 50
          type: number
      - name: sort
        required: false
        in: query
        description: Which field to sort by
        schema:
          $ref: '#/components/schemas/SortTypeLimitedEnum'
      - name: sortDir
        required: false
        in: query
        description: The direction to sort the data
        schema:
          $ref: '#/components/schemas/SortDirectionEnum'
      - name: includeTotalCount
        required: false
        in: query
        description: Include total count of all matching records in response. Only honored on first page (when cursor is null).
        schema:
          default: false
          example: false
          type: boolean
      - name: expand[]
        required: false
        in: query
        description: List of subcollections and sub-objects to expand
        schema:
          type: array
          items:
            $ref: '#/components/schemas/AssetExpandEnum'
      - name: assetClassType
        required: false
        in: query
        description: Filter assets by class type. This filter is only supported in conjunction with expand[]=assetClassTypes.
        schema:
          $ref: '#/components/schemas/AssetClassTypeEnum'
      - name: assetType
        required: false
        in: query
        description: Filter assets by type
        schema:
          $ref: '#/components/schemas/AssetTypeEnum'
      - name: assetProvider
        required: false
        in: query
        description: Filter assets by provider
        schema:
          $ref: '#/components/schemas/AssetProviderEnum'
      - name: userId
        required: false
        in: query
        description: Filter data by user ID associated to the Assets
        schema:
          maximum: 1000000000
          example: 1
          type: number
      - name: employmentStatus
        required: false
        in: query
        description: Filter data by personnel of this employment status
        schema:
          $ref: '#/components/schemas/EmploymentStatusEnum'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetsResponsePublicV2Dto'
        '401':
          description: Invalid Authorization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
        '403':
          description: You are not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
        '412':
          description: You must accept the Drata terms and conditions to use the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
      security:
      - bearer: []
      summary: List Assets
      tags:
      - Assets
      x-drata-permissions:
      - assets-get
      x-product-area:
      - ASSETS_PAGE
    post:
      description: 'Manually add a new Asset to the Account.


        🔒 Requires **Assets: Create Asset** permission.'
      operationId: AssetsPublicV2Controller_createAsset
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetCreateRequestPublicV2Dto'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetResponsePublicV2Dto'
        '400':
          description: Malformed data and/or validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponsePublicV2Dto'
        '401':
          description: Invalid Authorization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
        '403':
          description: You are not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponsePublicV2Dto'
        '412':
          description: You must accept the Drata terms and conditions to use the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponsePublicV2Dto'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
      security:
      - bearer: []
      summary: Create Asset
      tags:
      - Assets
      x-drata-permissions:
      - assets-post
      x-product-area:
      - ASSETS_PAGE
  /assets/{assetId}:
    get:
      operationId: AssetsPublicV2Controller_getAsset
      parameters:
      - name: assetId
        required: true
        in: path
        schema:
          type: number
      - name: expand[]
        required: false
        in: query
        description: List of subcollections and sub-objects to expand
        schema:
          type: array
          items:
            $ref: '#/components/schemas/AssetExpandEnum'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetResponsePublicV2Dto'
        '401':
          description: Invalid Authorization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
        '403':
          description: You are not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
        '412':
          description: You must accept the Drata terms and conditions to use the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
      security:
      - bearer: []
      summary: Get Asset
      tags:
      - Assets
      x-drata-permissions:
      - assets-get
      x-product-area:
      - ASSETS_PAGE
      description: '🔒 Requires **Assets: List Assets** permission.'
    put:
      description: 'Update Asset


        🔒 Requires **Assets: Update Asset** permission.'
      operationId: AssetsPublicV2Controller_updateAsset
      parameters:
      - name: assetId
        required: true
        in: path
        schema:
          type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetModifyRequestPublicV2Dto'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetResponsePublicV2Dto'
        '204':
          description: No Content
        '400':
          description: Malformed data and/or validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponsePublicV2Dto'
        '401':
          description: Invalid Authorization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
        '403':
          description: You are not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponsePublicV2Dto'
        '412':
          description: You must accept the Drata terms and conditions to use the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
      security:
      - bearer: []
      summary: Update Asset
      tags:
      - Assets
      x-drata-permissions:
      - assets-put
      x-product-area:
      - ASSETS_PAGE
    delete:
      description: 'Remove a virtual or manually-added Asset. This is an unrecoverable operation.


        🔒 Requires **Assets: Delete Asset** permission.'
      operationId: AssetsPublicV2Controller_deleteAsset
      parameters:
      - name: assetId
        required: true
        in: path
        schema:
          type: number
      responses:
        '204':
          description: No Content
        '400':
          description: Malformed data and/or validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponsePublicV2Dto'
        '401':
          description: Invalid Authorization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
        '403':
          description: You are not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponsePublicV2Dto'
        '412':
          description: You must accept the Drata terms and conditions to use the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
      security:
      - bearer: []
      summary: Remove Asset
      tags:
      - Assets
      x-drata-permissions:
      - assets-delete
      x-product-area:
      - ASSETS_PAGE
components:
  schemas:
    AssetReferenceTypeEnum:
      type: string
      enum:
      - PERSONNEL
      - WORKSTATION
      - REPORT
      - POLICY
      - OTHER
      - VIRTUAL
    ComplianceCheckStatusEnum:
      type: string
      enum:
      - MISCONFIGURED
      - PASS
      - FAIL
      - EXCLUDED
    AssetCompactResponsePublicV2Dto:
      type: object
      properties:
        id:
          type: number
          example: 1
          description: Assessment ID
        name:
          type: string
          example: MacBook Pro - Space Black 16-inch
          description: The name of the asset
        description:
          type: string
          example: MacBook Pro Space Black - with 16-inch Liquid Retina XDR display
          description: The description of the asset
        assetType:
          type: string
          example: PHYSICAL
          description: The asset type
        assetProvider:
          type: string
          example: AGENT
          description: The asset source provider
        approvedAt:
          type: string
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: When the asset was approved (if applicable)
        removedAt:
          type:
          - string
          - 'null'
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: When the asset stopped being tracked
        company:
          type: string
          example: Acme, Inc
          description: The owning company of the asset
        notes:
          type:
          - string
          - 'null'
          description: The asset notes
        assetReferenceType:
          type:
          - string
          - 'null'
          example: PERSONNEL
          description: The asset reference type
        uniqueId:
          type: string
          example: C02T6CDJGTFL
          description: Unique Id associated with this asset
        createdAt:
          type: string
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: asset created timestamp
        updatedAt:
          type: string
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: asset update timestamp
        externalId:
          type: string
          example: i-0c844e3b433e4e3f
          description: An externally sourced unique identifier for a virtual asset
        externalOwnerId:
          type: string
          example: account-353
          description: Used to track the source of virtual assets, typically an account id.
      required:
      - id
      - name
      - description
      - assetType
      - assetProvider
      - approvedAt
      - company
      - assetReferenceType
      - uniqueId
      - createdAt
      - updatedAt
    AssetClassTypeEnum:
      type: string
      enum:
      - HARDWARE
      - POLICY
      - DOCUMENT
      - PERSONNEL
      - SOFTWARE
      - CODE
      - CONTAINER
      - COMPUTE
      - NETWORKING
      - DATABASE
      - STORAGE
    UserIdentityResponsePublicV2Dto:
      type: object
      properties:
        id:
          type: number
          example: 1
          description: User identity ID
        identityId:
          type: string
          example: 1a2b3c
          description: External service unique id
        username:
          type:
          - string
          - 'null'
          example: johndoe
          description: External service username
        connectedAt:
          type:
          - string
          - 'null'
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: When this external user was linked to an application user
        disconnectedAt:
          type:
          - string
          - 'null'
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: When this external user was unlinked to an application user
        hasMfa:
          type:
          - boolean
          - 'null'
          example: true
          description: Indicates the external user MFA status
        userId:
          type:
          - number
          - 'null'
          example: 1
          description: The user ID
        connectionId:
          type:
          - number
          - 'null'
          example: 1
          description: The connection ID
        connection:
          description: Connection details
          allOf:
          - $ref: '#/components/schemas/ConnectionCompactResponsePublicV2Dto'
        email:
          type:
          - string
          - 'null'
          example: johndoe@example.com
          description: Primary email for user identity
        secondaryEmail:
          type:
          - string
          - 'null'
          example: johndoe@test.com
          description: Secondary email for user identity
        firstName:
          type:
          - string
          - 'null'
          example: John
          description: First name
        lastName:
          type:
          - string
          - 'null'
          example: Doe
          description: Last name
        startedAt:
          type:
          - string
          - 'null'
          format: date-time
          example: Thu Aug 27 2026
          description: Start (hire) date for the user.
        separatedAt:
          type:
          - string
          - 'null'
          format: date-time
          description: Separation (termination) date for the user. Null indicates a current employee.
          example: Thu Aug 27 2026
        isContractor:
          type:
          - boolean
          - 'null'
          example: true
          description: Is the user a contractor? Null indicates no information is available.
        jobTitle:
          type:
          - string
          - 'null'
          example: Engineer
          description: Job title
        managerId:
          type:
          - string
          - 'null'
          example: x00jk12-2312
          description: Manager's identity id
        managerName:
          type:
          - string
          - 'null'
          example: Jose Díaz
          description: Manager's full name
        createdAt:
          type: string
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: User identity created at
        updatedAt:
          type: string
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: User identity last updated at
      required:
      - id
      - identityId
      - username
      - connectedAt
      - disconnectedAt
      - hasMfa
      - userId
      - connectionId
      - connection
      - email
      - secondaryEmail
      - firstName
      - lastName
      - startedAt
      - separatedAt
      - jobTitle
      - managerId
      - managerName
      - createdAt
      - updatedAt
    DeviceDocumentResponsePublicV2Dto:
      type: object
      properties:
        id:
          type: number
          example: 1
          description: Device document ID
        type:
          type: string
          example: PASSWORD_MANAGER_EVIDENCE
          description: The device document type
        name:
          type: string
          example: Password Manager Evidence
          description: The document name
        fileUrl:
          type:
          - string
          - 'null'
          example: http://localhost:5000/download/device-documents/1
          description: The secure URL to the device document
        createdAt:
          type: string
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: Device document created date timestamp
        updatedAt:
          type: string
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: Device document updated date timestamp
        downloadUrl:
          description: The signed URL to download the Device Document, only returned when `expand[]=downloadUrl` is passed.
          allOf:
          - $ref: '#/components/schemas/SignedUrlResponsePublicV2Dto'
      required:
      - id
      - type
      - name
      - fileUrl
      - createdAt
      - updatedAt
    CustomFieldSubmitRequestPublicV2Dto:
      type: object
      properties:
        id:
          type: number
          example: 1
          description: The ID of the Custom Field. Either this or the name must be provided.
        name:
          type: string
          example: Compliance Status
          description: The name of the Custom Field. Either this or the ID must be provided.
        value:
          type:
          - string
          - 'null'
          example: Security & IT
          description: The value of the Custom Field.  If a value of null is used, the value will be deleted.
      required:
      - value
    UserDocumentResponsePublicV2Dto:
      type: object
      properties:
        id:
          type: number
          example: 1
          description: User document ID
        userId:
          type: number
          description: The User ID the Document belongs to
        downloadUrl:
          description: The signed URL to download the User Document, only returned when `expand[]=downloadUrl` is passed.
          allOf:
          - $ref: '#/components/schemas/SignedUrlResponsePublicV2Dto'
        name:
          type: string
          example: Security Training
          description: The name the file
        type:
          type: string
          enum:
          - SEC_TRAINING
          - PASSWORD_MANAGER_EVIDENCE
          - AUTO_UPDATES_EVIDENCE
          - HARD_DRIVE_ENCRYPTION_EVIDENCE
          - ANTIVIRUS_EVIDENCE
          - LOCK_SCREEN_EVIDENCE
          - MFA_EVIDENCE
          - HIPAA_TRAINING_EVIDENCE
          - OFFBOARDING_EVIDENCE
          - NIST_AI_TRAINING_EVIDENCE
          example: SEC_TRAINING
          description: The User Document type
        fileUrl:
          type:
          - string
          - 'null'
          example: http://localhost:5000/download/documents/1
          description: The secure URL to the user document
        renewalDate:
          type: string
          format: date
          example: '2026-10-27'
          description: Document's renewal date, after which the document is no longer consider valid evidence
        createdAt:
          type: string
          format: date-time
          example: '2020-07-06'
          description: Document created at
        updatedAt:
          type: string
          format: date-time
          example: '2020-07-06'
          description: Document updated at
      required:
      - id
      - userId
      - name
      - type
      - fileUrl
      - renewalDate
      - createdAt
      - updatedAt
    AssetExpandEnum:
      type: string
      enum:
      - device
      - assetClassTypes
      - complianceChecks
      - customFields
      - identifiers
      - owner
    DeviceIdentifierResponsePublicV2Dto:
      type: object
      properties:
        id:
          type: number
          example: 1
          description: Device identifier Id
        type:
          type: string
          example: SERIAL_NUMBER
          description: The identifier type
        identifier:
          type: string
          example: C02CG123DC79
          description: The identifier value
        createdAt:
          type: string
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: Identifier createdAt timestamp
        updatedAt:
          type: string
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: Identifier updatedAt timestamp
      required:
      - id
      - type
      - identifier
      - createdAt
      - updatedAt
    ExceptionResponsePublicV2Dto:
      type: object
      properties:
        name:
          type: string
        statusCode:
          type: number
        message:
          type: string
        code:
          type: number
        debugInfo:
          type: object
          properties:
            name:
              type: string
            message:
              type: string
            stack:
              type: string
          required:
          - name
          - message
      required:
      - name
      - statusCode
      - message
      - code
    SignedUrlResponsePublicV2Dto:
      type: object
      properties:
        signedUrl:
          type: string
          example: https://somedomain.com/filename.pdf?Signature=ABC123
          description: The short lived signed URL to link directly to the private file
        fileBuffer:
          type:
          - object
          - 'null'
          description: The file on buffer format. This only applies for txt files.
          example:
            buffer: RXhhbXBsZSB0ZXh0IGNvbnRlbnQ=
        fileName:
          type:
          - string
          - 'null'
          example: Artifact 3.png
          description: Resolved download filename, extension-repaired server-side. Null when the endpoint does not provide one.
      required:
      - signedUrl
      - fileBuffer
      - fileName
    DeviceComplianceCheckResponsePublicV2Dto:
      type: object
      properties:
        checkFrequency:
          example: DAILY
          description: How often should this check be run for Compliance
          allOf:
          - $ref: '#/components/schemas/CheckFrequencyEnum'
        completionDate:
          type:
          - string
          - 'null'
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: Date the user completed the Compliance Check
        createdAt:
          type: string
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: Compliance Check creation timestamp
        expiresAt:
          type:
          - string
          - 'null'
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: When this Compliance Check is due for a re-verification
        id:
          type: number
          example: 1
          description: Device Compliance Check ID
        lastCheckedAt:
          type:
          - string
          - 'null'
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: Compliance Check last checked timestamp
        status:
          example: PASS
          description: Denotes actual Compliance Check status
          allOf:
          - $ref: '#/components/schemas/ComplianceCheckStatusEnum'
        type:
          example: PASSWORD_MANAGER
          description: The Compliance Check type
          allOf:
          - $ref: '#/components/schemas/ComplianceCheckTypeEnum'
        updatedAt:
          type: string
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: Compliance Check updated timestamp
      required:
      - checkFrequency
      - completionDate
      - createdAt
      - expiresAt
      - id
      - lastCheckedAt
      - status
      - type
      - updatedAt
    EmploymentStatusEnum:
      type: string
      enum:
      - CURRENT_EMPLOYEE
      - FORMER_EMPLOYEE
      - CURRENT_CONTRACTOR
      - FORMER_CONTRACTOR
      - OUT_OF_SCOPE
      - UNKNOWN
      - SPECIAL_FORMER_EMPLOYEE
      - SPECIAL_FORMER_CONTRACTOR
      - FUTURE_HIRE
      - SERVICE_ACCOUNT
      x-enumDescriptions:
        CURRENT_EMPLOYEE: Current Employee
        FORMER_EMPLOYEE: Former Employee
        CURRENT_CONTRACTOR: Current Contractor
        FORMER_CONTRACTOR: Former Contractor
        FUTURE_HIRE: Future Hire – Based on the HRIS data
        UNKNOWN: Unknown – The personnel did not match an HRIS record
        OUT_OF_SCOPE: Out of Scope – Manually marked as out of scope
        SERVICE_ACCOUNT: Service Account – Automatically marked as out of scope
        SPECIAL_FORMER_EMPLOYEE: Special Former Employee – Deprecated status for manually created personnel
        SPECIAL_FORMER_CONTRACTOR: Special Former Contractor – Deprecated status for manually created personnel
    AssetModifyRequestPublicV2Dto:
      type: object
      properties:
        name:
          type: string
          maxLength: 191
          description: The Asset name
        description:
          type: string
          maxLength: 191
          description: The Asset description
        notes:
          type: string
          maxLength: 191
          description: The Asset notes
        ownerId:
          type: number
          description: The ID of the user to set as Asset owner
        assetClassTypes:
          type: array
          items:
            type: string
            enum:
            - HARDWARE
            - POLICY
            - DOCUMENT
            - PERSONNEL
            - SOFTWARE
            - CODE
            - CONTAINER
            - COMPUTE
            - NETWORKING
            - DATABASE
            - STORAGE
          example:
          - HARDWARE
          - PERSONNEL
          description: The Asset class types
        assetType:
          enum:
          - PHYSICAL
          - VIRTUAL
          type: string
          example: PHYSICAL
          description: The Asset type
        customFields:
          description: "Custom Fields for the Asset. \n\n\U0001F48E Requires your account have the Custom Fields and Formulas feature. Contact your CSM for help upgrading."
          type: array
          items:
            $ref: '#/components/schemas/CustomFieldSubmitRequestPublicV2Dto'
    AssetCreateRequestPublicV2Dto:
      type: object
      properties:
        name:
          type: string
          maxLength: 191
          description: The Asset name
        description:
          type: string
          maxLength: 191
          description: The Asset description
        notes:
          type: string
          maxLength: 191
          description: The Asset notes
        assetClassTypes:
          type: array
          items:
            $ref: '#/components/schemas/AssetClassTypeEnum'
          example:
          - HARDWARE
          - PERSONNEL
          description: The Asset class types
        assetType:
          example: PHYSICAL
          description: The Asset type
          allOf:
          - $ref: '#/components/schemas/AssetTypeEnum'
        ownerId:
          type: number
          example: 1
          description: The owner ID
        associatedId:
          type: string
          example: C02T6CDJGTFL
          description: An ID associated with this Asset
        removedAt:
          type: string
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: Date the Asset was removed
        externalId:
          type: string
          example: i-0c844e3b433e4e3f
          description: An externally sourced unique identifier for a virtual Asset
        externalOwnerId:
          type: string
          example: account-353
          description: Used to track the source of virtual Assets, typically an account ID
        customFields:
          description: "Custom Fields for the Asset. \n\n\U0001F48E Requires your account have the Custom Fields and Formulas feature. Contact your CSM for help upgrading."
          type: array
          items:
            $ref: '#/components/schemas/CustomFieldSubmitRequestPublicV2Dto'
      required:
      - name
      - description
      - assetClassTypes
      - assetType
      - ownerId
    SortDirectionEnum:
      type: string
      enum:
      - ASC
      - DESC
    ExceptionResponseDto:
      type: object
      properties:
        statusCode:
          type: number
        message:
          type: string
        code:
          type: number
        debugInfo:
          type: object
          properties:
            name:
              type: string
            message:
              type: string
            stack:
              type: string
          required:
          - name
          - message
      required:
      - statusCode
      - message
      - code
    PaginationTotalCountResponsePublicV2Dto:
      type: object
      properties:
        cursor:
          type:
          - string
          - 'null'
          description: When this is not null, it indicates there is additional data. Pass this value in to the `cursor` parameter to fetch the next page of data.
        totalCount:
          type:
          - number
          - 'null'
          description: Total count of all matching items (not limited by page size). Only included when `includeTotalCount=true` is passed on the first page (no cursor).
      required:
      - cursor
    AssetProviderEnum:
      type: string
      enum:
      - DRATA_DEV
      - AGENT
      - DRATA
      - GOOGLE
      - MICROSOFT_365
      - JAMF
      - INTUNE
      - OKTA_IDENTITY
      - KANDJI
      - JUMPCLOUD
      - HEXNODE_UEM
      - RIPPLING
      - AWS
      - MERGEDEV_ONELOGIN
      - MERGEDEV_JUMPCLOUD
      - WORKSPACE_ONE
      - CSV_IDP
      - AWS_GOV_CLOUD
      - AZURE
      - GCP
      - MICROSOFT_365_GCC_HIGH
      - MERGEDEV_CYBERARK
      - KOLIDE
      - MERGEDEV_PINGONE
      - AWS_ORG_UNITS
      - INTUNE_GCC_HIGH
      - CUSTOM_XFA
      - NINJAONE
    CheckFrequencyEnum:
      type: string
      enum:
      - ONCE
      - HOURLY
      - QID
      - DAILY
      - WEEKLY
      - BIWEEKLY
      - MONTHLY
      - QUARTERLY
      - YEARLY
    UserResponsePublicV2Dto:
      type: object
      properties:
        id:
          type: number
          example: 1
          description: User ID
        email:
          type: string
          example: email@example.com
          description: User email
        firstName:
          type:
          - string
          - 'null'
          example: Sally
          description: User first name
        lastName:
          type:
          - string
          - 'null'
          example: Smith
          description: User last name
        createdAt:
          type: string
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: User created at
        updatedAt:
          type: string
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: User last updated at
        jobTitle:
          type:
          - string
          - 'null'
          example: CEO
          description: User job title
        avatarUrl:
          type:
          - string
          - 'null'
          example: https://cdn-prod.imgpilot.com/avatar.png
          description: User avatar URL
        drataTermsAgreedAt:
          type:
          - string
          - 'null'
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: User agreed to the Drata terms date timestamp
        roles:
          example:
          - ROLE
          - ANOTHER_ROLE
          description: User roles, only returned when `expand[]=roles` is passed.
          type: array
          items:
            type: string
        backgroundChecks:
          description: The Background Checks array DTO, only returned when `expand[]=backgroundChecks` is passed.
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/BackgroundCheckResponsePublicV2Dto'
        documents:
          description: Full list of user documents, only returned when `expand[]=documents` is passed.
          type: array
          items:
            $ref: '#/components/schemas/UserDocumentResponsePublicV2Dto'
        identities:
          description: User identities, only returned when `expand[]=identities` is passed.
          type: array
          items:
            $ref: '#/components/schemas/UserIdentityResponsePublicV2Dto'
      required:
      - id
      - email
      - createdAt
      - updatedAt
    AssetResponsePublicV2Dto:
      type: object
      properties:
        id:
          type: number
          example: 1
          description: Asset ID
        name:
          type: string
          example: MacBook Pro 16-inch
          description: The name of the asset
        description:
          type: string
          example: MacBook Pro 16-inch with 14-Core CPU 32-Core GPU 36GB Unified Memory 1TB SSD Storage
          description: The description of the asset
        assetType:
          example: PHYSICAL
          description: The Asset type
          allOf:
          - $ref: '#/components/schemas/AssetTypeEnum'
        assetProvider:
          example: AGENT
          description: The Asset source provider
          allOf:
          - $ref: '#/components/schemas/AssetProviderEnum'
        removedAt:
          type:
          - string
          - 'null'
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: When the Asset stopped being tracked
        assetClassTypes:
          example: AssetClassTypeResponsePublicV2Dto[]
          description: Asset class types associated with this Asset.  This field is only returned when `expand[]=assetClassTypes` is passed.
          type: array
          items:
            $ref: '#/components/schemas/AssetClassTypeResponsePublicV2Dto'
        owner:
          description: The User that owns the Asset, only returned when `expand[]=owner` is passed.
          allOf:
          - $ref: '#/components/schemas/UserResponsePublicV2Dto'
        notes:
          type:
          - string
          - 'null'
          description: The Asset notes
        assetReferenceType:
          example: PERSONNEL
          description: The Asset reference type
          allOf:
          - $ref: '#/components/schemas/AssetReferenceTypeEnum'
        associatedId:
          type:
          - string
          - 'null'
          example: C02T6CDJGTFL
          description: An ID associated with this Asset
        createdAt:
          type: string
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: Asset created timestamp
        updatedAt:
          type: string
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: Asset updated timestamp
        device:
          description: The Device associated to this Asset, only returned when `expand[]=device`, `expand[]=complianceChecks`, or `expand[]=identifiers` is passed.
          allOf:
          - $ref: '#/components/schemas/DeviceResponsePublicV2Dto'
        externalId:
          type:
          - string
          - 'null'
          example: i-0c844e3b433e4e3f
          description: An externally sourced unique identifier for a virtual Asset
        externalOwnerId:
          type:
          - string
          - 'null'
          example: account-353
          description: Used to track the source of virtual assets, typically an account id.
        customFields:
          description: "Custom Fields, only returned when `expand[]=customFields` is passed. \n\n\U0001F48E Requires your account have the Custom Fields and Formulas feature. Contact your CSM for help upgrading."
          type: array
          items:
            $ref: '#/components/schemas/CustomFieldResponsePublicV2Dto'
      required:
      - id
      - name
      - description
      - assetType
      - assetProvider
      - removedAt
      - notes
      - assetReferenceType
      - associatedId
      - createdAt
      - updatedAt
      - device
      - externalId
    DeviceResponsePublicV2Dto:
      type: object
      properties:
        id:
          type: number
          example: 1
          description: Device Id
        assetId:
          type:
          - number
          - 'null'
          example: 123
          description: Asset Id
        osVersion:
          type:
          - string
          - 'null'
          example: MacOS 10.15.6
          description: The device operating system version
        serialNumber:
          type:
          - string
          - 'null'
          example: C02T6CDJGTFL
          description: The device serial number
        model:
          type:
          - string
          - 'null'
          example: MacBook Pro
          description: The device model
        macAddress:
          type:
          - string
          - 'null'
          example: 65-F9-3D-85-7B-6B,99-A9-3E-14-7A-3E
          description: The device MAC address
        lastCheckedAt:
          type:
          - string
          - 'null'
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: Last time device data checked by the source
        sourceType:
          example: AGENT
          description: The device source type
          allOf:
          - $ref: '#/components/schemas/MobileDeviceManagementSourceTypeEnum'
        createdAt:
          type: string
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: The device created date timestamp
        updatedAt:
          type: string
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: The device updated date timestamp
        deletedAt:
          type:
          - string
          - 'null'
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: The device deleted date timestamp
        appsCount:
          type:
          - number
          - 'null'
          example: 20
          description: The number of applications installed
        isDeviceCompliant:
          type: boolean
          example: false
          description: Indicates whether the Device meets all compliance requirements, only returned when `expand[]=complianceChecks` is passed.
        complianceChecks:
          example: []
          description: The Device compliance checks list, only returned when `expand[]=complianceChecks` is passed.
          type: array
          items:
            $ref: '#/components/schemas/DeviceComplianceCheckResponsePublicV2Dto'
        identifiers:
          example: []
          description: The Device identifiers list, only returned when `expand[]=identifiers` is passed.
          type: array
          items:
            $ref: '#/components/schemas/DeviceIdentifierResponsePublicV2Dto'
        documents:
          example: []
          description: The Device documents list, only returned when `expand[]=documents` is passed.
          type: array
          items:
            $ref: '#/components/schemas/DeviceDocumentResponsePublicV2Dto'
        screenLockTime:
          type:
          - number
          - 'null'
          example: 30
          description: Denotes device actual screenLock time
        screenLockExplanation:
          type:
          - object
          - 'null'
          example:
            minutesIdleBeforeSleep: '2'
            minutesSleepingBeforePasswordIsRequired: '2'
          description: Screen lock explanation
        antivirusEnabled:
          type:
          - boolean
          - 'null'
          example: true
          description: Denotes device actual antivirus status
        antivirusExplanation:
          type:
          - object
          - 'null'
          example: No matching app was found
          description: Antivirus explanation
        autoUpdateEnabled:
          type:
          - boolean
          - 'null'
          example: true
          description: Denotes device actual auto-update status
        autoUpdateExplanation:
          type:
          - object
          - 'null'
          example: No compliances found
          description: Auto update explanation
        passwordManagerEnabled:
          type:
          - boolean
          - 'null'
          example: true
          description: Denotes device actual password manager status
        passwordManagerExplanation:
          type:
          - object
          - 'null'
          example:
            passwordManagerApps:
            - 1password 7
          description: Password manager explanation
        encryptionEnabled:
          type:
          - boolean
          - 'null'
          example: false
          description: Denotes device actual encryption status
        encryptionExplanation:
          type:
          - object
          - 'null'
          example: No encryption provided
          description: Encryption explanation
        firewallEnabled:
          type:
          - boolean
          - 'null'
          example: true
          description: Denotes device actual firewall status
        firewallExplanation:
          type:
          - object
          - 'null'
          example: '{}'
          description: Firewall explanation
        asset:
          description: The Asset associated with this Device, only returned when `expand[]=asset` is passed.
          allOf:
          - $ref: '#/components/schemas/AssetCompactResponsePublicV2Dto'
        userId:
          type:
          - number
          - 'null'
          example: 1
          description: User Id
        personnelId:
          type: number
          example: 1
          description: Personnel Id
        externalId:
          type:
          - string
          - 'null'
          maxLength: 191
          example: aaaaaaaa-bbbb-0000-cccc-dddddddddddd
          description: Unique identifier for the device in the external system where it originated
      required:
      - id
      - assetId
      - osVersion
      - serialNumber
      - model
      - macAddress
      - lastCheckedAt
      - sourceType
      - createdAt
      - updatedAt
      - deletedAt
      - appsCount
      - screenLockTime
      - screenLockExplanation
      - antivirusEnabled
      - antivirusExplanation
      - autoUpdateEnabled
      - autoUpdateExplanation
      - passwordManagerEnabled
      - passwordManagerExplanation
      - encryptionEnabled
      - encryptionExplanation
      - firewallEnabled
      - firewallExplanation
      - personnelId
      - externalId
    AssetsResponsePublicV2Dto:
      type: object
      properties:
        data:
          description: Data set based on the pagination limits
          type: array
          items:
            $ref: '#/components/schemas/AssetResponsePublicV2Dto'
        pagination:
          $ref: '#/components/schemas/PaginationTotalCountResponsePublicV2Dto'
      required:
      - data
      - pagination
    AssetClassTypeResponsePublicV2Dto:
      type: object
      properties:
        id:
          type: number
          example: 1
          description: Asset class type ID
        assetClassType:
          type: string
          example: DOCUMENT
          description: The string enum asset class type
        createdAt:
          type: string
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: asset class type created timestamp
        updatedAt:
          type: string
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: asset class type update timestamp
      required:
      - id
      - assetClassType
      - createdAt
      - updatedAt
    BackgroundCheckResponsePublicV2Dto:
      type: object
      properties:
        id:
          type: number
          description: The Background Check Id
        userId:
          type:
          - number
          - 'null'
          description: The user ID
        status:
          type: string
          enum:
          - PENDING
          - OK
          - ISSUE
          - CANCELED
          - EXPIRED
          - OUT_OF_SCOPE
          example: OK
          description: The status of the background check
        caseId:
          type:
          - string
          - 'null'
          example: abc123
          description: The case ID of the KarmaCheck background check
        caseInvitationId:
          type: string
          example: abc123
          description: The case invitation ID of the KarmaCheck background check
        url:
          type: string
          example: https://app-stage.karmacheck.com/background_check/aaaaaaaa-bbbb-0000-cccc-dddddddddddd
          description: The URL of the background check
        manualCheckDate:
          type:
          - string
          - 'null'
          format: date
          example: '2020-07-06'
          description: The date this background check was manually uploaded
        manuallyCheckUrl:
          type:
          - string
          - 'null'
          example: url.com
          description: The url of manual background check
        type:
          type: string
          enum:
          - KARMACHECK
          - MANUAL
          - CERTN
          - CHECKR
          - HRIS_RIPPLING
          - STERLING
          - HIRERIGHT
          - VETTY
          example: CERTN
          description: The background check type
        source:
          type:
          - string
          - 'null'
          enum:
          - DRATA
          - CHECKR
          - KARMACHECK
          - RIPPLING_CHECKR
          - CERTN
          - STERLING
          - HIRERIGHT
          - VETTY
          example: DRATA
          description: The background check source
        reportData:
          type: string
          description: The background check report data
        outOfScopeReason:
          type:
          - string
          - 'null'
          example: abc123
          description: the reason it was marked out of scope
        outOfScopeAt:
          type:
          - string
          - 'null'
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: When it was marked out of scope
        invitationEmail:
          type:
          - string
          - 'null'
          example: email@email.com
          description: Invitation email
        linkedAt:
          type:
          - string
          - 'null'
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: When the report was linked to a user
        createdAt:
          type: string
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: Report created date timestamp
        updatedAt:
          type: string
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: Report updated date timestamp
      required:
      - id
      - userId
      - status
      - caseId
      - caseInvitationId
      - url
      - manualCheckDate
      - manuallyCheckUrl
      - type
      - source
      - reportData
      - outOfScopeReason
      - outOfScopeAt
      - invitationEmail
      - linkedAt
      - createdAt
      - updatedAt
    AssetTypeEnum:
      type: string
      enum:
      - PHYSICAL
      - VIRTUAL
    MobileDeviceManagementSourceTypeEnum:
      type: string
      enum:
      - AGENT
      - JAMF
      - INTUNE
      - KANDJI
      - JUMPCLOUD
      - HEXNODE_UEM
      - UNKNOWN
      - RIPPLING
      - WORKSPACE_ONE
      - KOLIDE
      - CUSTOM
      - INTUNE_GCC_HIGH
      - CUSTOM_XFA
      - NINJAONE
    CustomFieldResponsePublicV2Dto:
      type: object
      properties:
        customFieldId:
          type: number
          example: 1
          description: The ID of the Custom Field
        name:
          type: string
          example: Stakeholders
          description: The name of the Custom Field
        value:
          type:
          - string
          - 'null'
          example: Security & IT
          description: The value of the Custom Field
      required:
      - customFieldId
      - name
    SortTypeLimitedEnum:
      type: string
      enum:
      - createdAt
      - updatedAt
    ConnectionCompactResponsePublicV2Dto:
      type: object
      properties:
        id:
          type: number
          example: '1'
          description: The Connection ID
        clientType:
          type: string
          enum:
          - GOOGLE
          - OKTA
          - MICROSOFT_365
          - AWS
          - GCP
          - AZURE
          - HEROKU
          - GITHUB
          - GITLAB
          - BITBUCKET
          - SHORTCUT
          - JIRA
          - ASANA
          - GUSTO
          - KARMACHECK
          - GITHUB_ISSUES
          - RIPPLING
          - CERTN
          - MERGEDEV_ADP_WORKFORCE_NOW
          - MERGEDEV_BAMBOO_HR
          - MERGEDEV_HR_PARTNER
          - MERGEDEV_HI_BOB
          - MERGEDEV_HUMAANS
          - MERGEDEV_PERSONIO
          - MERGEDEV_SAGE
          - DIGITAL_OCEAN
          - MERGEDEV_KALLIDUS
          - MERGEDEV_TRINET
          - MERGEDEV_TRINET_HR
          - MERGEDEV_FRESHTEAM
          - MERGEDEV_SAP_SUCCESSFACTORS
          - TRELLO
          - GITLAB_ISSUES
          - MERGEDEV_JUSTWORKS
          - LINEAR
          - PIVOTAL_TRACKER
          - WORK_OS
          - MERGEDEV_PAYLOCITY
          - MONGO_DB_ATLAS
          - TARGET_PROCESS
          - CLICKUP
          - CHECKR
          - MERGEDEV_WORKDAY
          - ZOHO
          - CLOUDFLARE
          - JAMF
          - AZURE_BOARDS
          - AZURE_REPOS
          - MERGEDEV_HR_CLOUD
          - INTUNE
          - OKTA_IDENTITY
          - GOODHIRE
          - KANDJI
          - AWS_CODECOMMIT
          - FIBERY
          - CURRICULA
          - JUMPCLOUD
          - HEXNODE_UEM
          - RIPPLING_MDM
          - AWS_ORG_UNITS
          - KNOWBE4
          - MERGEDEV_UKG_PRO
          - MERGEDEV_UKG_READY
          - DATADOG
          - SLACK
          - DOCUSIGN
          - MICROSOFT_TEAMS
          - AWS_INSPECTOR
          - MERGEDEV_ONELOGIN
          - MERGEDEV_JUMPCLOUD
          - CONFLUENCE
          - WORKSPACE_ONE
          - NEW_RELIC
          - MERGEDEV_SERVICENOW
          - RAPID7
          - MERGEDEV_AHA
          - MERGEDEV_BASECAMP
          - MERGEDEV_BITBUCKET
          - MERGEDEV_FRESHDESK
          - MERGEDEV_FRESHSERVICE
          - MERGEDEV_HEIGHT
          - MERGEDEV_HIVE
          - MERGEDEV_TEAMWORK
          - MERGEDEV_WRIKE
          - MERGEDEV_ZENDESK
          - CSV_IDP
          - APIDECK
          - AWS_GOV_CLOUD
          - SENTINEL_ONE
          - MERGEDEV_NAMELY
          - MERGEDEV_INSPERITY_PREMIER
          - MERGEDEV_DAYFORCE
          - MERGEDEV_ALEXISHR
          - MERGEDEV_BREATHE
          - MERGEDEV_CHARLIE
          - MERGEDEV_CHARTHOP
          - MERGEDEV_DEEL
          - MERGEDEV_FACTORIAL
          - MERGEDEV_INTELLIHR
          - MERGEDEV_KEKA
          - MERGEDEV_LUCCA
          - MERGEDEV_OFFICIENT
          - MERGEDEV_PAYCHEX
          - MERGEDEV_PEOPLE_HR
          - MERGEDEV_OYSTERHR
          - MERGEDEV_PAYCOR
          - HUBSPOT
          - ZOOM
          - AUTH0
          - SENTRY
          - ZAPIER
          - SNOWFLAKE
          - MIRO
          - MERGEDEV_EMPLOYMENT_HERO
          - SEGMENT
          - WIZ
          - XERO
          - GITHUB_CODE
          - ATLASSIAN
          - PAGER_DUTY
          - STACKONE_SMARTRECRUITERS
          - STACKONE_TEAMTAILOR
          - CROWDSTRIKE
          - GITHUB_ENTERPRISE
          - NOTION
          - STACKONE_KLAVIYO
          - STACKONE_LASTPASS
          - STACKONE_LEAPSOME
          - STACKONE_LEVER
          - STACKONE_ORACLEHCM
          - STACKONE_PINPOINT
          - STACKONE_PIPEDRIVE
          - STACKONE_RECRUITEE
          - STACKONE_WEBEX
          - STACKONE_WORKABLE
          - STACKONE_ZELT
          - STACKONE_BITWARDEN
          - STACKONE_SALESLOFT
          - STACKONE_DIXA
          - STACKONE_FRESHSALES
          - STACKONE_CANVA
          - STACKONE_GREENHOUSE
          - STACKONE_ASHBY
          - STACKONE_ATTIO
          - STACKONE_CONTENTFUL
          - COVERDASH
          - MERGEDEV_FRONT
          - SALESFORCE
          - STACKONE_ELASTIC
          - STACKONE_RENDER
          - STACKONE_TERRAFORM
          - STACKONE_DOMO
          - STACKONE_ENVOY
          - STACKONE_SCALEWAY
          - STACKONE_JETBRAINS
          - STACKONE_FIVETRAN
          - STACKONE_INTERCOM
          - STACKONE_AUTODESK
          - GITHUB_ACTIONS
          - AZURE_ORG_UNITS
          - MICROSOFT_365_GCC_HIGH
          - STACKONE_AIRCALL
          - STACKONE_15FIVE
          - STACKONE_ROLLBAR
          - STACKONE_EGNYTE
          - STACKONE_QLIK
          - STACKONE_BULLHORN
          - STACKONE_OPENVPN
          - STACKONE_SOPHOS
          - STACKONE_MEISTERTASK
          - STACKONE_TALENTLMS
          - STACKONE_ONEFLOW
          - STACKONE_RING_CENTRAL
          - STACKONE_ARTICULATE
          - STACKONE_DIALPAD
          - STACKONE_TABLEAU
          - AZURE_DEVOPS
          - STACKONE_1PASSWORD
          - STACKONE_MIXPANEL
          - STACKONE_SONARCLOUD
          - STACKONE_TWILIO
          - STACKONE_ANSIBLE
          - STACKONE_LATTICE
          - STACKONE_WEBFLOW
          - STACKONE_LACEWORK
          - STACKONE_DATABRICKS
          - STACKONE_IFS
          - STACKONE_TRAVISCI
          - STACKONE_MATILLIONETL
          - STACKONE_OPTIMIZELY
          - UAR_CSV
          - STERLING
          - HIRERIGHT
          - VETTY
          - MERGEDEV_CYBERARK
          - SALESFORCE_UAR
          - GOOGLE_ADMIN_CONSOLE
          - VERCEL
          - STACKONE_DUO
          - STACKONE_GONG
          - STACKONE_IRONCLAD
          - STACKONE_SCORO
          - STACKONE_TEAMVIEWER_REMOTE
          - STACKONE_SPOTDRAFT
          - STACKONE_SPENDESK
          - STACKONE_SENDGRID
          - STACKONE_SMARTSHEET
          - STACKONE_CHECKMK
          - LEEN_TENABLE
          - LEEN_QUALYS
          - LEEN_SEMGREP
          - LEEN_SNYK
          - LEEN_CROWDSTRIKE_VMS
          - LEEN_MS_DEFENDER_VMS
          - LEEN_SENTINELONE_VMS
          - GITLAB_ON_PREM
          - CUSTOM
          - LEEN_RAPID7_VMS
          - BAMBOO_HR
          - GITLAB_ISSUES_ON_PREM
          - GITHUB_ISSUES_ENTERPRISE
          - BITBUCKET_CODE
          - LEEN_ARNICA
          - STACKONE_NETLIFY
          - STACKONE_OPENAI
          - KOLIDE
          - MERGEDEV_JIRA_DATA_CENTER
          - MERGEDEV_PINGONE
          - GOOGLE_ADMIN_CONSOLE_OAUTH
          - GOOGLE_OAUTH
          - STACKONE_ANTHROPIC
          - INTUNE_GCC_HIGH
          - STACKONE_DROPBOX
          - STACKONE_DROPBOX_SIGN
          - STACKONE_HARVEST
          - STACKONE_KAMELEOON
          - STACKONE_MAKE
          - STACKONE_RETOOL
          - STACKONE_TOGGL
          - STACKONE_BOX
          - MERGEDEV_ZOHO_PEOPLE
          - MERGEDEV_ZOHO_DESK
          - LEEN_WIZ_VMS
          - LEEN_WIZ_CODE
          - LEEN_AIKIDO
          - MERGEDEV_LATTICE_HRIS
          - MERGEDEV_DARWINBOX
          - MERGEDEV_PAYCOM
          - AZURE_GCC_HIGH
          - AZURE_MG_GCC_HIGH
          - STACKONE_EASY_LLAMA
          - MERGEDEV_LEAPSOME
          - CUSTOM_XFA
          - LEEN_MS_DEFENDER_VMS_GCC_HIGH
          - STACKONE_CORNERSTONE
          - STACKONE_DOCEBO
          - STACKONE_GO1
          - STACKONE_LINKEDIN_LEARNING
          - STACKONE_SAP_LEARNING
          - STACKONE_WORKDAY_LEARNING
          - STACKONE_360LEARNING
          - STACKONE_BRAINIER
          - STACKONE_COURSERA
          - STACKONE_XYLEME
          - STACKONE_INFOSEC
          - STACKONE_PEOPLE_FLUENT
          - STACKONE_UDEMY
          - AIKIDO
          - AZURE_ENTRA_ID
          - GOOGLE_CLOUD_IDENTITY
          - HYPERCOMPLY
          - INTRUDER
          - IRIS_AI
          - JIT
          - TINES
          - TORQ
          - TRAY
          - SWIF
          - LEEN_ORCA_SECURITY
          - ZIP
          - CUSTOM_MDM
          - LEEN_UPWIND
          - WORK_OS_SCIM
          - LEEN_GITLAB_VMS
          - NINJAONE_MDM
          - FIELDGUIDE
          - OKTA_OAUTH
          - IRONCLAD_VENDOR
          - CUSTOM_HRIS
          - RAMP
          - TROPIC_VENDOR
          - AZURE_BOARDS_ENTRA
          - AZURE_REPOS_ENTRA
          - AZURE_DEVOPS_ENTRA
          - CERTN_CENTRIC
          - DATAGRAIL
          - LEEN_SOCKET
          example: GOOGLE
          description: The client type
        clientId:
          type:
          - string
          - 'null'
          example: drata.com
          description: The client id from the external system associated to this connection
        clientAlias:
          type:
          - string
          - 'null'
          example: My-connection-alias-1
          description: Alias for the connection
        state:
          type: string
          enum:
          - ACTIVE
          - MISCONFIGURED
          example: ACTIVE
          description: The state of the connection
        createdAt:
          type:
          - string
          - 'null'
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: When this connection was created
        updatedAt:
          type:
          - string
          - 'null'
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: When this connection was last updated
        connectedAt:
          type:
          - string
          - 'null'
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: When this connection was successfully established
        failedAt:
          type:
          - string
          - 'null'
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: When this connection failed
        deletedAt:
          type:
          - string
          - 'null'
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: When the connection was deleted
      required:
      - id
      - clientType
      - clientId
      - clientAlias
      - state
      - createdAt
      - updatedAt
      - connectedAt
      - failedAt
      - deletedAt
    ComplianceCheckTypeEnum:
      type: string
      enum:
      - FULL_COMPLIANCE
      - ACCEPTED_POLICIES
      - IDENTITY_MFA
      - BG_CHECK
      - AGENT_INSTALLED
      - PASSWORD_MANAGER
      - HDD_ENCRYPTION
      - ANTIVIRUS
      - AUTO_UPDATES
      - LOCK_SCREEN
      - SECURITY_TRAINING
      - LOCATION_SERVICES
      - HIPAA_TRAINING
      - OFFBOARDING
      - NIST_AI_TRAINING
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: API_KEY
      type: http
