openapi: 3.2.0
info:
  title: Drata Monitoring Tests API
  version: V2
  contact: {}
  description: 'Operations tagged Monitoring Tests across 2 of this provider''s published API definitions: drata-api-v2-openapi.json, drata-api-v2-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://public-api.drata.com/public/v2
- url: https://public-api.eu.drata.com/public/v2
- url: https://public-api.apac.drata.com/public/v2
tags:
- name: Monitoring Tests
  description: Monitoring Tests are compliance tests used to determine whether a person, system, process, or organization is adhering to standards set by compliance controls within a framework. The [help docs](https://help.drata.com/en/articles/4790546-monitoring) have more information.
paths:
  /workspaces/{workspaceId}/monitoring-tests:
    get:
      description: 'Find Monitoring Tests matching the provided filters


        🔒 Requires **Monitoring: List Monitors** permission.'
      operationId: MonitorsPublicV2Controller_listMonitors
      parameters:
      - name: workspaceId
        required: true
        in: path
        description: The Workspace ID associated to the Account
        schema:
          type: number
      - name: cursor
        required: false
        in: query
        description: This parameter is used to paginate through results. No value is needed for the first request. If there are additional results, the response will contain a `pagination.cursor` value that can be used in the subsequent request to retrieve the next page of results
        schema:
          type: string
      - name: size
        required: false
        in: query
        description: Number of results to return
        schema:
          minimum: 1
          maximum: 500
          default: 50
          type: number
      - name: sort
        required: false
        in: query
        description: Which field to sort by
        schema:
          $ref: '#/components/schemas/SortTypeLimitedEnum'
      - name: sortDir
        required: false
        in: query
        description: The direction to sort the data
        schema:
          $ref: '#/components/schemas/SortDirectionEnum'
      - name: includeTotalCount
        required: false
        in: query
        description: Include total count of all matching records in response. Only honored on first page (when cursor is null).
        schema:
          default: false
          example: false
          type: boolean
      - name: expand[]
        required: false
        in: query
        description: List of subcollections and sub-objects to expand
        schema:
          type: array
          items:
            $ref: '#/components/schemas/MonitorExpandEnum'
      - name: checkResultStatus
        required: false
        in: query
        description: Filter Monitors by result status
        schema:
          $ref: '#/components/schemas/CheckResultStatusEnum'
      - name: checkStatus
        required: false
        in: query
        description: Filter Monitors by system status
        schema:
          $ref: '#/components/schemas/CheckStatusEnum'
      - name: type
        required: false
        in: query
        description: Filter Monitors by check type (associated monitor instances)
        schema:
          $ref: '#/components/schemas/CheckTypeEnum'
      - name: testSource
        required: false
        in: query
        description: Filter monitors by test source type (DRATA for built-in tests, CUSTOM for user-created tests, ACORN for compliance-as-code tests, EXTERNAL for external tests, DRATA_LIBRARY for Drata library tests)
        schema:
          $ref: '#/components/schemas/TestSourceEnum'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitoringTestsResponsePublicV2Dto'
        '400':
          description: Malformed data and/or validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponsePublicV2Dto'
        '401':
          description: Invalid Authorization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
        '403':
          description: You are not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponsePublicV2Dto'
        '412':
          description: You must accept the Drata terms and conditions to use the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
      security:
      - bearer: []
      summary: List Monitoring Tests
      tags:
      - Monitoring Tests
      x-drata-permissions:
      - monitors-get
      x-product-area:
      - MONITOR_TEST_DETAILS_UI
    servers:
    - url: https://public-api.drata.com/public/v2
    - url: https://public-api.eu.drata.com/public/v2
    - url: https://public-api.apac.drata.com/public/v2
  /workspaces/{workspaceId}/monitoring-tests/{testId}:
    get:
      description: 'Get a specific Monitoring Test by Test ID


        🔒 Requires **Monitoring: Get Monitor** permission.'
      operationId: MonitorsPublicV2Controller_getMonitor
      parameters:
      - name: workspaceId
        required: true
        in: path
        description: The Workspace ID associated to the Account
        schema:
          type: number
      - name: testId
        required: true
        in: path
        description: The `testId` field returned in the Monitoring Test response (workspace-scoped). Do not pass the `id` field — `id` is an internal account-wide database key and is not accepted here.
        schema:
          example: 1
          type: number
      - name: cursor
        required: false
        in: query
        description: This parameter is used to paginate through results. No value is needed for the first request. If there are additional results, the response will contain a `pagination.cursor` value that can be used in the subsequent request to retrieve the next page of results
        schema:
          type: string
      - name: size
        required: false
        in: query
        description: Number of results to return
        schema:
          minimum: 1
          maximum: 500
          default: 50
          type: number
      - name: sort
        required: false
        in: query
        description: Which field to sort by
        schema:
          $ref: '#/components/schemas/SortTypeLimitedEnum'
      - name: sortDir
        required: false
        in: query
        description: The direction to sort the data
        schema:
          $ref: '#/components/schemas/SortDirectionEnum'
      - name: expand[]
        required: false
        in: query
        description: List of subcollections and sub-objects to expand
        schema:
          type: array
          items:
            $ref: '#/components/schemas/MonitorExpandEnum'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitoringTestResponsePublicV2Dto'
        '400':
          description: Malformed data and/or validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponsePublicV2Dto'
        '401':
          description: Invalid Authorization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
        '403':
          description: You are not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponsePublicV2Dto'
        '412':
          description: You must accept the Drata terms and conditions to use the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
      security:
      - bearer: []
      summary: Get Monitoring Test
      tags:
      - Monitoring Tests
      x-drata-permissions:
      - monitors-get-monitor
      x-product-area:
      - MONITOR_TEST_DETAILS_UI
    put:
      description: 'Update a Monitoring Test''s name, description, and/or enabled state.


        🔒 Requires **monitors-put-monitor** permission.'
      operationId: MonitorsPublicV2Controller_updateMonitor
      parameters:
      - name: workspaceId
        required: true
        in: path
        description: The Workspace ID associated to the Account
        schema:
          type: number
      - name: testId
        required: true
        in: path
        description: The `testId` field returned in the Monitoring Test response (workspace-scoped). Do not pass the `id` field — `id` is an internal account-wide database key and is not accepted here.
        schema:
          example: 1
          type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MonitoringTestUpdateRequestPublicV2Dto'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitoringTestResponsePublicV2Dto'
        '204':
          description: No Content
        '400':
          description: Malformed data and/or validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponsePublicV2Dto'
        '401':
          description: Invalid Authorization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
        '403':
          description: You are not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponsePublicV2Dto'
        '409':
          description: There is a conflict in the business rules with this request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponsePublicV2Dto'
        '412':
          description: You must accept the Drata terms and conditions to use the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
      security:
      - bearer: []
      summary: Update Monitoring Test
      tags:
      - Monitoring Tests
      x-drata-permissions:
      - monitors-put-monitor
      x-product-area:
      - MONITOR_TEST_DETAILS_UI
    servers:
    - url: https://public-api.drata.com/public/v2
    - url: https://public-api.eu.drata.com/public/v2
    - url: https://public-api.apac.drata.com/public/v2
  /workspaces/{workspaceId}/monitoring-tests/{testId}/exclusions:
    get:
      description: 'Find Monitor Exclusions for a specific Monitoring Test


        🔒 Requires **Monitoring: Get Monitor** permission.'
      operationId: MonitorsPublicV2Controller_listMonitorExclusions
      parameters:
      - name: workspaceId
        required: true
        in: path
        description: The Workspace ID associated to the Account
        schema:
          type: number
      - name: testId
        required: true
        in: path
        description: The `testId` field returned in the Monitoring Test response (workspace-scoped). Do not pass the `id` field — `id` is an internal account-wide database key and is not accepted here.
        schema:
          example: 1
          type: number
      - name: cursor
        required: false
        in: query
        description: This parameter is used to paginate through results. No value is needed for the first request. If there are additional results, the response will contain a `pagination.cursor` value that can be used in the subsequent request to retrieve the next page of results
        schema:
          type: string
      - name: size
        required: false
        in: query
        description: Number of results to return
        schema:
          minimum: 1
          maximum: 500
          default: 50
          type: number
      - name: sort
        required: false
        in: query
        description: Which field to sort by
        schema:
          $ref: '#/components/schemas/SortTypeLimitedEnum'
      - name: sortDir
        required: false
        in: query
        description: The direction to sort the data
        schema:
          $ref: '#/components/schemas/SortDirectionEnum'
      - name: includeTotalCount
        required: false
        in: query
        description: Include total count of all matching records in response. Only honored on first page (when cursor is null).
        schema:
          default: false
          example: false
          type: boolean
      - name: expand[]
        required: false
        in: query
        description: List of subcollections and sub-objects to expand
        schema:
          type: array
          items:
            $ref: '#/components/schemas/MonitorExclusionExpandEnum'
      - name: targetId
        required: false
        in: query
        description: Filter exclusions by target resource ID
        schema:
          maxLength: 30000
          example: sg-0a1b2c3d4e5f67890
          type: string
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitorExclusionsResponsePublicV2Dto'
        '400':
          description: Malformed data and/or validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponsePublicV2Dto'
        '401':
          description: Invalid Authorization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
        '403':
          description: You are not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponsePublicV2Dto'
        '412':
          description: You must accept the Drata terms and conditions to use the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
      security:
      - bearer: []
      summary: List Monitoring Test Exclusions
      tags:
      - Monitoring Tests
      x-drata-permissions:
      - monitors-get-monitor
      x-product-area:
      - MONITOR_TEST_DETAILS_UI
    servers:
    - url: https://public-api.drata.com/public/v2
    - url: https://public-api.eu.drata.com/public/v2
    - url: https://public-api.apac.drata.com/public/v2
  /workspaces/{workspaceId}/monitoring-tests/{testId}/failures:
    get:
      description: 'Find Monitoring Test Failures for a specific Monitoring Test. By default, excludes failures that have been manually excluded unless includeExclusions is set to true.


        🔒 Requires **Monitoring: Get Monitor** permission.'
      operationId: MonitorsPublicV2Controller_listMonitorTestFailures
      parameters:
      - name: workspaceId
        required: true
        in: path
        description: The Workspace ID associated to the Account
        schema:
          type: number
      - name: testId
        required: true
        in: path
        description: The `testId` field returned in the Monitoring Test response (workspace-scoped). Do not pass the `id` field — `id` is an internal account-wide database key and is not accepted here.
        schema:
          example: 1
          type: number
      - name: cursor
        required: false
        in: query
        description: This parameter is used to paginate through results. No value is needed for the first request. If there are additional results, the response will contain a `pagination.cursor` value that can be used in the subsequent request to retrieve the next page of results
        schema:
          type: string
      - name: size
        required: false
        in: query
        description: Number of results to return
        schema:
          minimum: 1
          maximum: 500
          default: 50
          type: number
      - name: sort
        required: false
        in: query
        description: Which field to sort by
        schema:
          $ref: '#/components/schemas/SortTypeLimitedEnum'
      - name: sortDir
        required: false
        in: query
        description: The direction to sort the data
        schema:
          $ref: '#/components/schemas/SortDirectionEnum'
      - name: includeTotalCount
        required: false
        in: query
        description: Include total count of all matching records in response. Only honored on first page (when cursor is null).
        schema:
          default: false
          example: false
          type: boolean
      - name: includeExclusions
        required: false
        in: query
        description: Include excluded Monitor Test failures in the results
        schema:
          default: false
          example: false
          type: boolean
      - name: expand[]
        required: false
        in: query
        description: List of subcollections and sub-objects to expand. Pass `tags` to include cloud-provider resource tags on each item when available. Tag resolution may add latency to the response. Tags are not present for every resource.
        schema:
          type: array
          items:
            $ref: '#/components/schemas/MonitorTestFailureExpandEnum'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitorTestFailuresResponsePublicV2Dto'
        '400':
          description: Malformed data and/or validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponsePublicV2Dto'
        '401':
          description: Invalid Authorization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
        '403':
          description: You are not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponsePublicV2Dto'
        '412':
          description: You must accept the Drata terms and conditions to use the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
      security:
      - bearer: []
      summary: List Monitoring Test Failures
      tags:
      - Monitoring Tests
      x-drata-permissions:
      - monitors-get-monitor
      x-product-area:
      - MONITOR_TEST_DETAILS_UI
    servers:
    - url: https://public-api.drata.com/public/v2
    - url: https://public-api.eu.drata.com/public/v2
    - url: https://public-api.apac.drata.com/public/v2
  /workspaces/{workspaceId}/monitoring-tests/{testId}/passes:
    get:
      description: 'Find resources that are currently passing a specific Monitoring Test. Returns an empty page for tests that do not emit passing-resource data (see the Drata documentation for the per-test passing-data status).


        🔒 Requires **Monitoring: Get Monitor** permission.'
      operationId: MonitorsPublicV2Controller_listMonitorTestPasses
      parameters:
      - name: workspaceId
        required: true
        in: path
        description: The Workspace ID associated to the Account
        schema:
          type: number
      - name: testId
        required: true
        in: path
        description: The `testId` field returned in the Monitoring Test response (workspace-scoped). Do not pass the `id` field — `id` is an internal account-wide database key and is not accepted here.
        schema:
          example: 1
          type: number
      - name: cursor
        required: false
        in: query
        description: This parameter is used to paginate through results. No value is needed for the first request. If there are additional results, the response will contain a `pagination.cursor` value that can be used in the subsequent request to retrieve the next page of results
        schema:
          type: string
      - name: size
        required: false
        in: query
        description: Number of results to return
        schema:
          minimum: 1
          maximum: 500
          default: 50
          type: number
      - name: sort
        required: false
        in: query
        description: Which field to sort by
        schema:
          $ref: '#/components/schemas/SortTypeLimitedEnum'
      - name: sortDir
        required: false
        in: query
        description: The direction to sort the data
        schema:
          $ref: '#/components/schemas/SortDirectionEnum'
      - name: includeTotalCount
        required: false
        in: query
        description: Include total count of all matching records in response. Only honored on first page (when cursor is null).
        schema:
          default: false
          example: false
          type: boolean
      - name: expand[]
        required: false
        in: query
        description: List of subcollections and sub-objects to expand. Pass `tags` to include cloud-provider resource tags on each item when available. Tag resolution may add latency to the response. Tags are not present for every resource.
        schema:
          type: array
          items:
            $ref: '#/components/schemas/MonitorTestPassExpandEnum'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitorTestPassesResponsePublicV2Dto'
        '400':
          description: Malformed data and/or validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponsePublicV2Dto'
        '401':
          description: Invalid Authorization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
        '403':
          description: You are not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponsePublicV2Dto'
        '412':
          description: You must accept the Drata terms and conditions to use the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
      security:
      - bearer: []
      summary: List Monitoring Test Passes
      tags:
      - Monitoring Tests
      x-drata-permissions:
      - monitors-get-monitor
      x-product-area:
      - MONITOR_TEST_DETAILS_UI
    servers:
    - url: https://public-api.drata.com/public/v2
    - url: https://public-api.eu.drata.com/public/v2
    - url: https://public-api.apac.drata.com/public/v2
components:
  schemas:
    MonitoringTestsResponsePublicV2Dto:
      type: object
      properties:
        data:
          description: Data set based on the pagination limits
          type: array
          items:
            $ref: '#/components/schemas/MonitoringTestResponsePublicV2Dto'
        pagination:
          $ref: '#/components/schemas/PaginationTotalCountResponsePublicV2Dto'
      required:
      - data
      - pagination
    ControlCompactResponsePublicV2Dto:
      type: object
      properties:
        id:
          type: number
          example: 1
          description: Control ID
        code:
          type: string
          example: AC-1
          description: Control code
        name:
          type: string
          example: Access Control
          description: Control name
        description:
          type:
          - string
          - 'null'
          example: "Drata has implemented tools to monitor Drata's databases and notify appropriate personnel of any events or incidents based on\n                 predetermined criteria. Incidents are escalated per policy."
          description: Control description
        isReady:
          type: boolean
          example: true
          description: Indicates if the control is ready for compliance assessment. A control is considered ready when it has at least one valid component (tests, evidence, policies, or reports) and no failing components (no failing tests, invalid evidence, unapproved policies, etc.). This is calculated in real-time based on the current state of all control components.
        createdAt:
          type: string
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: Date the Control was created
        updatedAt:
          type: string
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: Date the Control was last updated
      required:
      - id
      - code
      - name
      - description
      - createdAt
      - updatedAt
    ExceptionResponseDto:
      type: object
      properties:
        statusCode:
          type: number
        message:
          type: string
        code:
          type: number
        debugInfo:
          type: object
          properties:
            name:
              type: string
            message:
              type: string
            stack:
              type: string
          required:
          - name
          - message
      required:
      - statusCode
      - message
      - code
    MonitorExclusionsResponsePublicV2Dto:
      type: object
      properties:
        data:
          description: Data set based on the pagination limits
          type: array
          items:
            $ref: '#/components/schemas/MonitorExclusionResponsePublicV2Dto'
        pagination:
          $ref: '#/components/schemas/PaginationTotalCountResponsePublicV2Dto'
      required:
      - data
      - pagination
    MonitoringTestResponsePublicV2Dto:
      type: object
      properties:
        id:
          type: number
          example: 1
          description: Internal database identifier of this Monitoring Test record. Unique across the account (spanning all workspaces). Not accepted by any public API endpoint — use the `testId` field below when referencing this test (e.g., as the `:testId` path parameter on single-test endpoints).
        name:
          type: string
          example: A Version Control System is being Used
          description: Name of the Monitoring Test
        description:
          type: string
          example: Inspected Drata's version control system...
          description: The description of the Monitoring Test
        checkResultStatus:
          example: PASSED
          description: The compliance status of this Monitoring Test
          allOf:
          - $ref: '#/components/schemas/CheckResultStatusEnum'
        checkStatus:
          example: ENABLED
          description: The system status of this Monitoring Test
          allOf:
          - $ref: '#/components/schemas/CheckStatusEnum'
        testSource:
          example: DRATA
          description: The source of this Monitoring Test
          allOf:
          - $ref: '#/components/schemas/TestSourceEnum'
        testId:
          type: number
          example: 1
          description: Stable identifier of this Monitoring Test. Unique within a workspace — the same `testId` may appear in multiple workspaces (one record per workspace), which is why the response also includes `id` (the account-wide internal database key). Use `testId` as the `:testId` path parameter on single-test endpoints (e.g., `GET /workspaces/{workspaceId}/monitoring-tests/{testId}`). This is the identifier clients should persist when referencing a Monitoring Test.
        createdAt:
          type: string
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: Monitoring Test creation timestamp
        updatedAt:
          type: string
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: Monitoring Test updated timestamp
        lastPassedAt:
          type:
          - string
          - 'null'
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: Timestamp of the most recent successful run, or null if this test has never passed
        failedSince:
          type:
          - string
          - 'null'
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: Timestamp when the current failing streak began. Null when the test is not currently failing
        monitorInstances:
          description: Monitor associated to this monitor test
          type: array
          items:
            $ref: '#/components/schemas/MonitorCompactResponsePublicV2Dto'
        disabledByUser:
          description: The user who has disabled this Monitoring Test
          allOf:
          - $ref: '#/components/schemas/UserCompactResponsePublicV2Dto'
        controls:
          description: Controls associated to this Monitoring Test
          type: array
          items:
            $ref: '#/components/schemas/ControlCompactResponsePublicV2Dto'
      required:
      - id
      - name
      - description
      - checkResultStatus
      - checkStatus
      - testSource
      - testId
      - createdAt
      - updatedAt
      - lastPassedAt
      - failedSince
    ConnectionCompactResponsePublicV2Dto:
      type: object
      properties:
        id:
          type: number
          example: '1'
          description: The Connection ID
        clientType:
          type: string
          enum:
          - GOOGLE
          - OKTA
          - MICROSOFT_365
          - AWS
          - GCP
          - AZURE
          - HEROKU
          - GITHUB
          - GITLAB
          - BITBUCKET
          - SHORTCUT
          - JIRA
          - ASANA
          - GUSTO
          - KARMACHECK
          - GITHUB_ISSUES
          - RIPPLING
          - CERTN
          - MERGEDEV_ADP_WORKFORCE_NOW
          - MERGEDEV_BAMBOO_HR
          - MERGEDEV_HR_PARTNER
          - MERGEDEV_HI_BOB
          - MERGEDEV_HUMAANS
          - MERGEDEV_PERSONIO
          - MERGEDEV_SAGE
          - DIGITAL_OCEAN
          - MERGEDEV_KALLIDUS
          - MERGEDEV_TRINET
          - MERGEDEV_TRINET_HR
          - MERGEDEV_FRESHTEAM
          - MERGEDEV_SAP_SUCCESSFACTORS
          - TRELLO
          - GITLAB_ISSUES
          - MERGEDEV_JUSTWORKS
          - LINEAR
          - PIVOTAL_TRACKER
          - WORK_OS
          - MERGEDEV_PAYLOCITY
          - MONGO_DB_ATLAS
          - TARGET_PROCESS
          - CLICKUP
          - CHECKR
          - MERGEDEV_WORKDAY
          - ZOHO
          - CLOUDFLARE
          - JAMF
          - AZURE_BOARDS
          - AZURE_REPOS
          - MERGEDEV_HR_CLOUD
          - INTUNE
          - OKTA_IDENTITY
          - GOODHIRE
          - KANDJI
          - AWS_CODECOMMIT
          - FIBERY
          - CURRICULA
          - JUMPCLOUD
          - HEXNODE_UEM
          - RIPPLING_MDM
          - AWS_ORG_UNITS
          - KNOWBE4
          - MERGEDEV_UKG_PRO
          - MERGEDEV_UKG_READY
          - DATADOG
          - SLACK
          - DOCUSIGN
          - MICROSOFT_TEAMS
          - AWS_INSPECTOR
          - MERGEDEV_ONELOGIN
          - MERGEDEV_JUMPCLOUD
          - CONFLUENCE
          - WORKSPACE_ONE
          - NEW_RELIC
          - MERGEDEV_SERVICENOW
          - RAPID7
          - MERGEDEV_AHA
          - MERGEDEV_BASECAMP
          - MERGEDEV_BITBUCKET
          - MERGEDEV_FRESHDESK
          - MERGEDEV_FRESHSERVICE
          - MERGEDEV_HEIGHT
          - MERGEDEV_HIVE
          - MERGEDEV_TEAMWORK
          - MERGEDEV_WRIKE
          - MERGEDEV_ZENDESK
          - CSV_IDP
          - APIDECK
          - AWS_GOV_CLOUD
          - SENTINEL_ONE
          - MERGEDEV_NAMELY
          - MERGEDEV_INSPERITY_PREMIER
          - MERGEDEV_DAYFORCE
          - MERGEDEV_ALEXISHR
          - MERGEDEV_BREATHE
          - MERGEDEV_CHARLIE
          - MERGEDEV_CHARTHOP
          - MERGEDEV_DEEL
          - MERGEDEV_FACTORIAL
          - MERGEDEV_INTELLIHR
          - MERGEDEV_KEKA
          - MERGEDEV_LUCCA
          - MERGEDEV_OFFICIENT
          - MERGEDEV_PAYCHEX
          - MERGEDEV_PEOPLE_HR
          - MERGEDEV_OYSTERHR
          - MERGEDEV_PAYCOR
          - HUBSPOT
          - ZOOM
          - AUTH0
          - SENTRY
          - ZAPIER
          - SNOWFLAKE
          - MIRO
          - MERGEDEV_EMPLOYMENT_HERO
          - SEGMENT
          - WIZ
          - XERO
          - GITHUB_CODE
          - ATLASSIAN
          - PAGER_DUTY
          - STACKONE_SMARTRECRUITERS
          - STACKONE_TEAMTAILOR
          - CROWDSTRIKE
          - GITHUB_ENTERPRISE
          - NOTION
          - STACKONE_KLAVIYO
          - STACKONE_LASTPASS
          - STACKONE_LEAPSOME
          - STACKONE_LEVER
          - STACKONE_ORACLEHCM
          - STACKONE_PINPOINT
          - STACKONE_PIPEDRIVE
          - STACKONE_RECRUITEE
          - STACKONE_WEBEX
          - STACKONE_WORKABLE
          - STACKONE_ZELT
          - STACKONE_BITWARDEN
          - STACKONE_SALESLOFT
          - STACKONE_DIXA
          - STACKONE_FRESHSALES
          - STACKONE_CANVA
          - STACKONE_GREENHOUSE
          - STACKONE_ASHBY
          - STACKONE_ATTIO
          - STACKONE_CONTENTFUL
          - COVERDASH
          - MERGEDEV_FRONT
          - SALESFORCE
          - STACKONE_ELASTIC
          - STACKONE_RENDER
          - STACKONE_TERRAFORM
          - STACKONE_DOMO
          - STACKONE_ENVOY
          - STACKONE_SCALEWAY
          - STACKONE_JETBRAINS
          - STACKONE_FIVETRAN
          - STACKONE_INTERCOM
          - STACKONE_AUTODESK
          - GITHUB_ACTIONS
          - AZURE_ORG_UNITS
          - MICROSOFT_365_GCC_HIGH
          - STACKONE_AIRCALL
          - STACKONE_15FIVE
          - STACKONE_ROLLBAR
          - STACKONE_EGNYTE
          - STACKONE_QLIK
          - STACKONE_BULLHORN
          - STACKONE_OPENVPN
          - STACKONE_SOPHOS
          - STACKONE_MEISTERTASK
          - STACKONE_TALENTLMS
          - STACKONE_ONEFLOW
          - STACKONE_RING_CENTRAL
          - STACKONE_ARTICULATE
          - STACKONE_DIALPAD
          - STACKONE_TABLEAU
          - AZURE_DEVOPS
          - STACKONE_1PASSWORD
          - STACKONE_MIXPANEL
          - STACKONE_SONARCLOUD
          - STACKONE_TWILIO
          - STACKONE_ANSIBLE
          - STACKONE_LATTICE
          - STACKONE_WEBFLOW
          - STACKONE_LACEWORK
          - STACKONE_DATABRICKS
          - STACKONE_IFS
          - STACKONE_TRAVISCI
          - STACKONE_MATILLIONETL
          - STACKONE_OPTIMIZELY
          - UAR_CSV
          - STERLING
          - HIRERIGHT
          - VETTY
          - MERGEDEV_CYBERARK
          - SALESFORCE_UAR
          - GOOGLE_ADMIN_CONSOLE
          - VERCEL
          - STACKONE_DUO
          - STACKONE_GONG
          - STACKONE_IRONCLAD
          - STACKONE_SCORO
          - STACKONE_TEAMVIEWER_REMOTE
          - STACKONE_SPOTDRAFT
          - STACKONE_SPENDESK
          - STACKONE_SENDGRID
          - STACKONE_SMARTSHEET
          - STACKONE_CHECKMK
          - LEEN_TENABLE
          - LEEN_QUALYS
          - LEEN_SEMGREP
          - LEEN_SNYK
          - LEEN_CROWDSTRIKE_VMS
          - LEEN_MS_DEFENDER_VMS
          - LEEN_SENTINELONE_VMS
          - GITLAB_ON_PREM
          - CUSTOM
          - LEEN_RAPID7_VMS
          - BAMBOO_HR
          - GITLAB_ISSUES_ON_PREM
          - GITHUB_ISSUES_ENTERPRISE
          - BITBUCKET_CODE
          - LEEN_ARNICA
          - STACKONE_NETLIFY
          - STACKONE_OPENAI
          - KOLIDE
          - MERGEDEV_JIRA_DATA_CENTER
          - MERGEDEV_PINGONE
          - GOOGLE_ADMIN_CONSOLE_OAUTH
          - GOOGLE_OAUTH
          - STACKONE_ANTHROPIC
          - INTUNE_GCC_HIGH
          - STACKONE_DROPBOX
          - STACKONE_DROPBOX_SIGN
          - STACKONE_HARVEST
          - STACKONE_KAMELEOON
          - STACKONE_MAKE
          - STACKONE_RETOOL
          - STACKONE_TOGGL
          - STACKONE_BOX
          - MERGEDEV_ZOHO_PEOPLE
          - MERGEDEV_ZOHO_DESK
          - LEEN_WIZ_VMS
          - LEEN_WIZ_CODE
          - LEEN_AIKIDO
          - MERGEDEV_LATTICE_HRIS
          - MERGEDEV_DARWINBOX
          - MERGEDEV_PAYCOM
          - AZURE_GCC_HIGH
          - AZURE_MG_GCC_HIGH
          - STACKONE_EASY_LLAMA
          - MERGEDEV_LEAPSOME
          - CUSTOM_XFA
          - LEEN_MS_DEFENDER_VMS_GCC_HIGH
          - STACKONE_CORNERSTONE
          - STACKONE_DOCEBO
          - STACKONE_GO1
          - STACKONE_LINKEDIN_LEARNING
          - STACKONE_SAP_LEARNING
          - STACKONE_WORKDAY_LEARNING
          - STACKONE_360LEARNING
          - STACKONE_BRAINIER
          - STACKONE_COURSERA
          - STACKONE_XYLEME
          - STACKONE_INFOSEC
          - STACKONE_PEOPLE_FLUENT
          - STACKONE_UDEMY
          - AIKIDO
          - AZURE_ENTRA_ID
          - GOOGLE_CLOUD_IDENTITY
          - HYPERCOMPLY
          - INTRUDER
          - IRIS_AI
          - JIT
          - TINES
          - TORQ
          - TRAY
          - SWIF
          - LEEN_ORCA_SECURITY
          - ZIP
          - CUSTOM_MDM
          - LEEN_UPWIND
          - WORK_OS_SCIM
          - LEEN_GITLAB_VMS
          - NINJAONE_MDM
          - FIELDGUIDE
          - OKTA_OAUTH
          - IRONCLAD_VENDOR
          - CUSTOM_HRIS
          - RAMP
          - TROPIC_VENDOR
          - AZURE_BOARDS_ENTRA
          - AZURE_REPOS_ENTRA
          - AZURE_DEVOPS_ENTRA
          - CERTN_CENTRIC
          - DATAGRAIL
          - LEEN_SOCKET
          example: GOOGLE
          description: The client type
        clientId:
          type:
          - string
          - 'null'
          example: drata.com
          description: The client id from the external system associated to this connection
        clientAlias:
          type:
          - string
          - 'null'
          example: My-connection-alias-1
          description: Alias for the connection
        state:
          type: string
          enum:
          - ACTIVE
          - MISCONFIGURED
          example: ACTIVE
          description: The state of the connection
        createdAt:
          type:
          - string
          - 'null'
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: When this connection was created
        updatedAt:
          type:
          - string
          - 'null'
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: When this connection was last updated
        connectedAt:
          type:
          - string
          - 'null'
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: When this connection was successfully established
        failedAt:
          type:
          - string
          - 'null'
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: When this connection failed
        deletedAt:
          type:
          - string
          - 'null'
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: When the connection was deleted
      required:
      - id
      - clientType
      - clientId
      - clientAlias
      - state
      - createdAt
      - updatedAt
      - connectedAt
      - failedAt
      - deletedAt
    MonitorExpandEnum:
      type: string
      enum:
      - controls
      - monitorInstances
      - disablingUser
    UserCompactResponsePublicV2Dto:
      type: object
      properties:
        id:
          type: number
          example: 1
          description: User ID
        email:
          type: string
          example: email@example.com
          description: User email
        firstName:
          type:
          - string
          - 'null'
          example: Sally
          description: User first name
        lastName:
          type:
          - string
          - 'null'
          example: Smith
          description: User last name
        createdAt:
          type: string
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: User created at
        updatedAt:
          type: string
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: User last updated at
      required:
      - id
      - email
      - firstName
      - lastName
      - createdAt
      - updatedAt
    MonitorTestFailureExpandEnum:
      type: string
      enum:
      - tags
    MonitorTestPassResponsePublicV2Dto:
      type: object
      properties:
        id:
          type: string
          example: sg-0a1b2c3d4e5f67890
          description: Unique identifier of the cloud resource that passed the compliance test. This is typically the resource ID from the cloud provider (e.g., AWS resource ID, Azure resource ID, GCP resource name).
        providerName:
          type: string
          example: Amazon Web Services
          description: Human-readable name of the cloud provider where the passing resource is located. Common values include "Amazon Web Services", "Microsoft Azure", "Google Cloud Platform", etc.
        resourceName:
          type: string
          example: example-web-server-sg
          description: The name or identifier of the specific cloud resource that passed the compliance test. This could be a security group name, S3 bucket name, virtual machine name, etc.
        accountName:
          type:
          - string
          - 'null'
          example: Example Production Account
          description: Human-readable name of the cloud account or subscription where the passing resource is located. This helps identify which environment or business unit owns the resource.
        clientId:
          type:
          - string
          - 'null'
          example: '123456789012'
          description: Unique identifier for the cloud account, subscription, or project where the resource resides. This is typically the AWS Account ID, Azure Subscription ID, or GCP Project ID.
        resourceArn:
          type:
          - string
          - 'null'
          example: arn:aws:ec2:us-east-1:123456789012:security-group/sg-0a1b2c3d4e5f67890
          description: Amazon Resource Name (ARN) or equivalent unique resource identifier from the cloud provider. This provides the full path to the resource within the cloud infrastructure hierarchy.
        organizationalUnitId:
          type:
          - string
          - 'null'
          example: ou-root-123456789
          description: Organizational Unit identifier, primarily used in AWS Organizations to group accounts by business unit or environment. For other providers, this may contain subscription IDs (Azure) or project hierarchy information (GCP), but is most commonly populated for AWS resources.
        region:
          type:
          - string
          - 'null'
          example: us-east-1
          description: Geographic region or availability zone where the passing resource is deployed. Examples include AWS regions (us-east-1), Azure regions (East US), or GCP zones (us-central1-a).
        tags:
          type: object
          additionalProperties: true
          example:
            cost-center: cc-example-001
            system.id: example-system-id
            environment: production
          description: Resource tags from the cloud provider, as a flat key/value map. Keys and value types are preserved from the provider response, so values may be strings, numbers, booleans, or nested objects/arrays depending on the source. Returned only when `expand[]=tags` is requested, and only when tags are available for the resource.
        cause:
          type: array
          items:
            type: object
            additionalProperties: true
          description: Rule-evaluation entries explaining the test outcome for this resource. Often absent for passing resources, and may be absent for some legacy tests that do not produce this data. When present, documents the rule branches the resource satisfied.
      required:
      - id
      - providerName
      - resourceName
      - accountName
    MonitorTestPassesResponsePublicV2Dto:
      type: object
      properties:
        data:
          description: Data set based on the pagination limits
          type: array
          items:
            $ref: '#/components/schemas/MonitorTestPassResponsePublicV2Dto'
        pagination:
          $ref: '#/components/schemas/PaginationTotalCountResponsePublicV2Dto'
        lastCheck:
          type:
          - string
          - 'null'
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: Timestamp of the most recent autopilot run for this Monitoring Test, sourced from `control_test_instance.last_check`. Null when the test has never been run for this workspace.
      required:
      - data
      - pagination
      - lastCheck
    SortDirectionEnum:
      type: string
      enum:
      - ASC
      - DESC
    MonitoringTestUpdateRequestPublicV2Dto:
      type: object
      properties:
        name:
          type: string
          maxLength: 191
          example: Cloud Data Storage Exposure
          description: Updated name for the Monitoring Test.
        enabled:
          type: boolean
          example: true
          description: Enable or disable the Monitoring Test. When set to false, downstream monitor instances stop running and a disable message of "Disabled via Public API" is recorded.
        description:
          type:
          - string
          - 'null'
          maxLength: 30000
          description: Updated description for the Monitoring Test. Pass null to clear.
    CheckTypeEnum:
      type: string
      enum:
      - POLICY
      - IN_DRATA
      - AGENT
      - INFRASTRUCTURE
      - VERSION_CONTROL
      - IDENTITY
      - TICKETING
      - HRIS
      - OBSERVABILITY
      - CUSTOM
    TestSourceEnum:
      type: string
      enum:
      - DRATA
      - CUSTOM
      - EXTERNAL
      - ACORN
      - DRATA_LIBRARY
      x-enumDescriptions:
        DRATA: Built-in Drata test
        CUSTOM: User-created test
        EXTERNAL: External test
        ACORN: Compliance-as-code test
        DRATA_LIBRARY: Drata library test
    MonitorTestFailuresResponsePublicV2Dto:
      type: object
      properties:
        data:
          description: Data set based on the pagination limits
          type: array
          items:
            $ref: '#/components/schemas/MonitorTestFailureResponsePublicV2Dto'
        pagination:
          $ref: '#/components/schemas/PaginationTotalCountResponsePublicV2Dto'
        lastCheck:
          type:
          - string
          - 'null'
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: Timestamp of the most recent autopilot run for this monitoring test, sourced from `control_test_instance.last_check`. Null when the test has never been run for this workspace.
      required:
      - data
      - pagination
      - lastCheck
    MonitorTestFailureResponsePublicV2Dto:
      type: object
      properties:
        id:
          type: string
          example: sg-0a1b2c3d4e5f67890
          description: Unique identifier of the cloud resource that failed the compliance test. This is typically the resource ID from the cloud provider (e.g., AWS resource ID, Azure resource ID, GCP resource name).
        providerName:
          type: string
          example: Amazon Web Services
          description: Human-readable name of the cloud provider where the failing resource is located. Common values include "Amazon Web Services", "Microsoft Azure", "Google Cloud Platform", etc.
        resourceName:
          type: string
          example: example-web-server-sg
          description: The name or identifier of the specific cloud resource that failed the compliance test. This could be a security group name, S3 bucket name, virtual machine name, etc.
        accountName:
          type:
          - string
          - 'null'
          example: Example Production Account
          description: Human-readable name of the cloud account or subscription where the failing resource is located. This helps identify which environment or business unit owns the resource.
        clientId:
          type:
          - string
          - 'null'
          example: '123456789012'
          description: Unique identifier for the cloud account, subscription, or project where the resource resides. This is typically the AWS Account ID, Azure Subscription ID, or GCP Project ID.
        resourceArn:
          type:
          - string
          - 'null'
          example: arn:aws:ec2:us-east-1:123456789012:security-group/sg-0a1b2c3d4e5f67890
          description: Amazon Resource Name (ARN) or equivalent unique resource identifier from the cloud provider. This provides the full path to the resource within the cloud infrastructure hierarchy.
        organizationalUnitId:
          type:
          - string
          - 'null'
          example: ou-root-123456789
          description: Organizational Unit identifier, primarily used in AWS Organizations to group accounts by business unit or environment. For other providers, this may contain subscription IDs (Azure) or project hierarchy information (GCP), but is most commonly populated for AWS resources.
        region:
          type:
          - string
          - 'null'
          example: us-east-1
          description: Geographic region or availability zone where the failing resource is deployed. Examples include AWS regions (us-east-1), Azure regions (East US), or GCP zones (us-central1-a).
        tags:
          type: object
          additionalProperties: true
          example:
            cost-center: cc-example-001
            system.id: example-system-id
            environment: production
          description: Resource tags from the cloud provider, as a flat key/value map. Keys and value types are preserved from the provider response, so values may be strings, numbers, booleans, or nested objects/arrays depending on the source. Returned only when `expand[]=tags` is requested, and only when tags are available for the resource.
        cause:
          type: array
          items:
            type: object
            additionalProperties: true
          description: Rule-evaluation entries explaining why the resource failed the test. May be absent for some legacy tests that do not produce this data. Each entry documents a rule branch (fact, path, operator, result) and may include a `factResult` array of supporting data points; size scales with rule complexity.
      required:
      - id
      - providerName
      - resourceName
      - accountName
    MonitorCompactResponsePublicV2Dto:
      type: object
      properties:
        id:
          type: number
          example: 1
          description: Monitor ID
        checkResultStatus:
          example: PASSED
          description: Current compliance status of the monitor (PASSED, FAILED, PENDING, etc.)
          allOf:
          - $ref: '#/components/schemas/CheckResultStatusEnum'
        collectionDescription:
          type:
          - string
          - 'null'
          example: Curl call to the website
          description: Detailed description of how evidence is collected for this Monitor
        createdAt:
          type: string
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: Timestamp when the Monitor was first created
        updatedAt:
          type: string
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: Timestamp when the Monitor was last updated
        checkTypes:
          type: array
          example:
          - INFRASTRUCTURE
          description: The check types associated with this Monitor
          items:
            $ref: '#/components/schemas/CheckTypeEnum'
      required:
      - id
      - checkResultStatus
      - collectionDescription
      - createdAt
      - updatedAt
      - checkTypes
    MonitorTestPassExpandEnum:
      type: string
      enum:
      - tags
    ExceptionResponsePublicV2Dto:
      type: object
      properties:
        name:
          type: string
        statusCode:
          type: number
        message:
          type: string
        code:
          type: number
        debugInfo:
          type: object
          properties:
            name:
              type: string
            message:
              type: string
            stack:
              type: string
          required:
          - name
          - message
      required:
      - name
      - statusCode
      - message
      - code
    PaginationTotalCountResponsePublicV2Dto:
      type: object
      properties:
        cursor:
          type:
          - string
          - 'null'
          description: When this is not null, it indicates there is additional data. Pass this value in to the `cursor` parameter to fetch the next page of data.
        totalCount:
          type:
          - number
          - 'null'
          description: Total count of all matching items (not limited by page size). Only included when `includeTotalCount=true` is passed on the first page (no cursor).
      required:
      - cursor
    CheckResultStatusEnum:
      type: string
      enum:
      - READY
      - PASSED
      - FAILED
      - ERROR
      - PREAUDIT
    SortTypeLimitedEnum:
      type: string
      enum:
      - createdAt
      - updatedAt
    CheckStatusEnum:
      type: string
      enum:
      - UNUSED
      - NEW
      - ENABLED
      - DISABLED
      - TESTING
      x-enumDescriptions:
        UNUSED: Test is not currently in use
        NEW: Test has been newly added and not yet evaluated
        ENABLED: Test is active and running
        DISABLED: Test has been turned off
        TESTING: Test is in a testing state
    MonitorExclusionResponsePublicV2Dto:
      type: object
      properties:
        id:
          type: number
          example: 1
          description: The ID of the Monitor Exclusion
        targetId:
          type: string
          example: sg-0a1b2c3d4e5f67890
          description: 'The unique identifier of the excluded cloud resource. Examples: AWS Security Group (sg-12345), EC2 Instance (i-1234567890abcdef0), S3 Bucket (my-bucket-name), RDS Instance (my-database-instance), Load Balancer (my-load-balancer), Azure VM (vm-12345), GCP Instance (instance-12345)'
        targetName:
          type: string
          example: Production Security Group - Web Servers
          description: 'The human-readable name or description of the excluded cloud resource. Examples: "Production Security Group", "Web Server Instance", "Customer Data Bucket", "Primary Database", "Load Balancer - API", "Development VM", "Analytics Instance"'
        exclusionReason:
          type: string
          example: Legacy system scheduled for decommission in Q2 2024 - approved by security team
          description: 'The business justification for excluding this resource from compliance monitoring. Examples: "Legacy system scheduled for decommission", "Development environment - non-production", "Approved exception by security team", "Temporary exclusion during migration", "Test environment with controlled access", "Maintenance window exclusion"'
        createdAt:
          type: string
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: Exclusion created timestamp
        updatedAt:
          type: string
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: Exclusion updated timestamp
        connection:
          description: The connection associated with this exclusion
          allOf:
          - $ref: '#/components/schemas/ConnectionCompactResponsePublicV2Dto'
        exclusionDesignator:
          description: The user who created this exclusion
          allOf:
          - $ref: '#/components/schemas/UserCompactResponsePublicV2Dto'
      required:
      - id
      - targetId
      - targetName
      - exclusionReason
      - createdAt
      - updatedAt
    MonitorExclusionExpandEnum:
      type: string
      enum:
      - connection
      - exclusionDesignator
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: API_KEY
      type: http
x-refined-from:
- drata-api-v2-openapi.json
- drata-api-v2-openapi.yml
