openapi: 3.2.0
info:
  title: Drata Vendor Documents API
  version: V2
  contact: {}
  description: 'Operations tagged Vendor Documents across 2 of this provider''s published API definitions: drata-api-v2-openapi.json, drata-api-v2-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://public-api.drata.com/public/v2
- url: https://public-api.eu.drata.com/public/v2
- url: https://public-api.apac.drata.com/public/v2
tags:
- name: Vendor Documents
  description: Vendor Documents provide compliance-related documentation, such as bridge letters, questionnaires, and SOC reports.
paths:
  /vendors/{vendorId}/documents:
    get:
      description: 'Get a list of Documents for a given Vendor.


        🔒 Requires **Vendors: List Vendors** permission.'
      operationId: VendorDocumentsPublicV2Controller_getVendorDocuments
      parameters:
      - name: vendorId
        required: true
        in: path
        schema:
          type: number
      - name: cursor
        required: false
        in: query
        description: This parameter is used to paginate through results. No value is needed for the first request. If there are additional results, the response will contain a `pagination.cursor` value that can be used in the subsequent request to retrieve the next page of results
        schema:
          type: string
      - name: size
        required: false
        in: query
        description: Number of results to return
        schema:
          minimum: 1
          maximum: 500
          default: 50
          type: number
      - name: sort
        required: false
        in: query
        description: Which field to sort by
        schema:
          $ref: '#/components/schemas/SortTypeLimitedEnum'
      - name: sortDir
        required: false
        in: query
        description: The direction to sort the data
        schema:
          $ref: '#/components/schemas/SortDirectionEnum'
      - name: includeTotalCount
        required: false
        in: query
        description: Include total count of all matching records in response. Only honored on first page (when cursor is null).
        schema:
          default: false
          example: false
          type: boolean
      - name: type
        required: false
        in: query
        description: Vendor Document type
        schema:
          $ref: '#/components/schemas/VendorDocumentTypeEnum'
      - name: expand[]
        required: false
        in: query
        description: List of subcollections and sub-objects to expand
        schema:
          type: array
          items:
            $ref: '#/components/schemas/VendorDocumentExpandEnum'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorDocumentsResponsePublicV2Dto'
        '400':
          description: Malformed data and/or validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponsePublicV2Dto'
        '401':
          description: Invalid Authorization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
        '403':
          description: You are not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponsePublicV2Dto'
        '412':
          description: You must accept the Drata terms and conditions to use the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
      security:
      - bearer: []
      summary: List Vendor Documents
      tags:
      - Vendor Documents
      x-drata-permissions:
      - vendors-get
      x-product-area:
      - VENDOR_PUBLIC_API
    post:
      description: 'Upload a Vendor Document.


        🔒 Requires **Vendors: Upload Vendor Report** permission.'
      operationId: VendorDocumentsPublicV2Controller_uploadVendorDocument
      parameters:
      - name: vendorId
        required: true
        in: path
        schema:
          type: number
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/VendorDocumentCreateRequestPublicV2Dto'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorDocumentResponsePublicV2Dto'
        '400':
          description: Malformed data and/or validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponsePublicV2Dto'
        '401':
          description: Invalid Authorization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
        '403':
          description: You are not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
        '412':
          description: You must accept the Drata terms and conditions to use the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
        '413':
          description: The file was too large to upload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponsePublicV2Dto'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
        '503':
          description: Third party system was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponsePublicV2Dto'
      security:
      - bearer: []
      summary: Upload Vendor Document
      tags:
      - Vendor Documents
      x-drata-permissions:
      - vendors-post-document
      x-product-area:
      - VENDOR_PUBLIC_API
    servers:
    - url: https://public-api.drata.com/public/v2
    - url: https://public-api.eu.drata.com/public/v2
    - url: https://public-api.apac.drata.com/public/v2
  /vendors/{vendorId}/documents/{documentId}:
    get:
      operationId: VendorDocumentsPublicV2Controller_getVendorDocument
      parameters:
      - name: vendorId
        required: true
        in: path
        schema:
          type: number
      - name: documentId
        required: true
        in: path
        schema:
          type: number
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorDocumentResponsePublicV2Dto'
        '401':
          description: Invalid Authorization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
        '403':
          description: You are not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponsePublicV2Dto'
        '412':
          description: You must accept the Drata terms and conditions to use the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponseDto'
      security:
      - bearer: []
      summary: Get Vendor Document
      tags:
      - Vendor Documents
      x-drata-permissions:
      - vendors-get-vendor
      x-product-area:
      - VENDOR_PUBLIC_API
      description: '🔒 Requires **Vendors: Get Vendor** permission.'
    servers:
    - url: https://public-api.drata.com/public/v2
    - url: https://public-api.eu.drata.com/public/v2
    - url: https://public-api.apac.drata.com/public/v2
components:
  schemas:
    ExceptionResponsePublicV2Dto:
      type: object
      properties:
        name:
          type: string
        statusCode:
          type: number
        message:
          type: string
        code:
          type: number
        debugInfo:
          type: object
          properties:
            name:
              type: string
            message:
              type: string
            stack:
              type: string
          required:
          - name
          - message
      required:
      - name
      - statusCode
      - message
      - code
    PaginationTotalCountResponsePublicV2Dto:
      type: object
      properties:
        cursor:
          type:
          - string
          - 'null'
          description: When this is not null, it indicates there is additional data. Pass this value in to the `cursor` parameter to fetch the next page of data.
        totalCount:
          type:
          - number
          - 'null'
          description: Total count of all matching items (not limited by page size). Only included when `includeTotalCount=true` is passed on the first page (no cursor).
      required:
      - cursor
    VendorDocumentsResponsePublicV2Dto:
      type: object
      properties:
        data:
          description: Full list of Vendor Documents
          type: array
          items:
            $ref: '#/components/schemas/VendorDocumentResponsePublicV2Dto'
        pagination:
          $ref: '#/components/schemas/PaginationTotalCountResponsePublicV2Dto'
      required:
      - data
      - pagination
    VendorDocumentTypeEnum:
      type: string
      enum:
      - COMPLIANCE_REPORT
      - COMPLIANCE_REPORT_REVIEW
      - BRIDGE_LETTER
      - UPLOADED_COMPLIANCE_REPORT_REVIEW
      - QUESTIONNAIRE_ATTACHMENT
      - SOC_DOCUMENT
      - QUESTIONNAIRE_REPORT
      - TRUST_CENTER_PAGE
    SignedUrlResponsePublicV2Dto:
      type: object
      properties:
        signedUrl:
          type: string
          example: https://somedomain.com/filename.pdf?Signature=ABC123
          description: The short lived signed URL to link directly to the private file
        fileBuffer:
          type:
          - object
          - 'null'
          description: The file on buffer format. This only applies for txt files.
          example:
            buffer: RXhhbXBsZSB0ZXh0IGNvbnRlbnQ=
        fileName:
          type:
          - string
          - 'null'
          example: Artifact 3.png
          description: Resolved download filename, extension-repaired server-side. Null when the endpoint does not provide one.
      required:
      - signedUrl
      - fileBuffer
      - fileName
    SortTypeLimitedEnum:
      type: string
      enum:
      - createdAt
      - updatedAt
    VendorDocumentCreateRequestPublicV2Dto:
      type: object
      properties:
        file:
          type: string
          format: binary
          description: 'Accepted file extensions: .pdf, .docx, .odt, .doc, .xlsx, .ods, .pptx, .odp, .gif, .jpg, .jpeg, .png, .csv. MIME type must match the file extension'
        securityReviewId:
          type:
          - number
          - 'null'
          example: 1
          description: Security Review ID, when set this will attach the document to this security review
        type:
          example: COMPLIANCE_REPORT
          description: Vendor Document type
          allOf:
          - $ref: '#/components/schemas/VendorDocumentTypeEnum'
      required:
      - file
    ExceptionResponseDto:
      type: object
      properties:
        statusCode:
          type: number
        message:
          type: string
        code:
          type: number
        debugInfo:
          type: object
          properties:
            name:
              type: string
            message:
              type: string
            stack:
              type: string
          required:
          - name
          - message
      required:
      - statusCode
      - message
      - code
    VendorDocumentResponsePublicV2Dto:
      type: object
      properties:
        id:
          type: number
          example: 1
          description: Vendor document ID
        name:
          type: string
          example: AWS SOC 2 2025
          description: The name the file
        createdAt:
          type: string
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: Vendor Document created at
        updatedAt:
          type: string
          format: date-time
          example: '2025-07-01T16:45:55.246Z'
          description: Vendor Document last updated at
        type:
          description: The type of the Vendor document
          allOf:
          - $ref: '#/components/schemas/VendorDocumentTypeEnum'
        downloadUrl:
          description: A time-limited signed URL to download the Vendor document. Valid for 10 minutes.
          allOf:
          - $ref: '#/components/schemas/SignedUrlResponsePublicV2Dto'
      required:
      - id
      - name
      - createdAt
      - updatedAt
      - type
    SortDirectionEnum:
      type: string
      enum:
      - ASC
      - DESC
    VendorDocumentExpandEnum:
      type: string
      enum:
      - downloadUrl
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: API_KEY
      type: http
x-refined-from:
- drata-api-v2-openapi.json
- drata-api-v2-openapi.yml
