openapi: 3.2.0
info:
  description: SafeBase API documentation.
  version: 1.4.1
  title: SafeBase API documentation Organization API
  contact:
    email: support@safebase.io
servers:
- url: https://app.safebase.io/api/ext/v1/rest
security:
- apiKey: []
tags:
- name: Organization
paths:
  /organizations:
    get:
      tags:
      - Organization
      summary: Get current Organization
      description: Gets current Organization
      operationId: getOrganization
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  result:
                    type: object
                    properties:
                      id:
                        description: Internal identifier for the Organization
                        type: string
                        example: a1b2c3d4-e5f6-g7h8-i9j0-k1l2m3n4o5p6
                      name:
                        description: Organization name
                        type: string
                        example: Acme Corp.
                      primaryDomain:
                        description: Primary (email) domain of the organization
                        type: string
                        example: acme.com
                      spCustomDomain:
                        description: Custom TC domain of the organization
                        type:
                        - string
                        - 'null'
                        example: trust.acme.com
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
      security:
      - apiKey:
        - organization:view
  /organizations/nda:
    get:
      tags:
      - Organization
      summary: Get Organization NDA settings
      description: Gets Organization NDA settings
      operationId: getOrganizationNDASettings
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  result:
                    type: array
                    items:
                      type: object
                      $ref: '#/paths/~1organizations~1settings/get/responses/200/content/application~1json/schema/properties/result/items/properties/nda'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
      security:
      - apiKey:
        - organization:view
  /organizations/settings:
    get:
      tags:
      - Organization
      summary: Get Organization settings
      description: Gets Organization settings
      operationId: getOrganizationSettings
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        nda:
                          type: object
                          properties:
                            memberRequiredForDefaultNda:
                              description: Indicates whether the default provider requires a member to be created simultaneously
                              type: boolean
                            defaultNdaProvider:
                              description: The NDA option the organization uses by default
                              $ref: '#/components/schemas/NdaProvider'
                            enabledNdaProviders:
                              description: List of all enabled NDA Providers for an org
                              items:
                                type: object
                                properties:
                                  memberRequiredForNda:
                                    description: Indicates whether the default provider requires a member to be created simultaneously
                                    type: boolean
                                  provider:
                                    description: The NDA provider
                                    $ref: '#/components/schemas/NdaProvider'
                                  label:
                                    description: The user facing label for a given provider
                                    type: string
                        permissionProfiles:
                          type: object
                          properties:
                            defaultProfileId:
                              type: string
                              format: uuid
                              deprecated: true
                            defaultProfileIds:
                              type: array
                              items:
                                type: string
                                format: uuid
                            profiles:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  name:
                                    type: string
                                  description:
                                    type: string
                        accessExpiration:
                          type: object
                          properties:
                            defaultExpiration:
                              type: number
                              description: This is the length of expiration in minutes
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
      security:
      - apiKey:
        - organization:view
  /organizations/members/me:
    get:
      tags:
      - Organization
      summary: Get current Organization Member
      description: Gets current Organization Member
      operationId: getOrganizationMemberMe
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  result:
                    type: object
                    required:
                    - userId
                    - picture
                    properties:
                      userId:
                        description: Internal identifier for the Organization Member
                        type: string
                        example: samlp|saml-connection-name|user-identifier
                      familyName:
                        description: The Organization Member's family name (surname)
                        type: string
                        example: Doe
                      givenName:
                        description: The Organization Member's given name (first name)
                        type: string
                        example: John
                      picture:
                        description: The Organization Member profile picture
                        type: string
                        example: https://some.url.com/picture.jpg
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
      security:
      - apiKey:
        - organization:view
components:
  schemas:
    ApiResponseInvalidApiKeyOrMissingScope:
      type: object
      properties:
        statusCode:
          type: integer
          example: 403
        error:
          type: string
          example: forbidden
        message:
          type: string
          example: 'Invalid API key / Missing required scope(s): (missing scopes here)'
    ApiResponseInvalidRequest:
      type: object
      properties:
        statusCode:
          type: integer
          example: 400
        error:
          type: string
          example: bad_request
        message:
          type: string
          example: Invalid request.
    ApiResponseNotFound:
      type: object
      properties:
        statusCode:
          type: integer
          example: 404
        error:
          type: string
          example: not_found
        message:
          type: string
          example: Not found
    NdaProvider:
      type: string
      description: One of the available NDA options. If the ndaProvider field is not set, NDA provider will be set to the organization's default NDA provider.
      enum:
      - none
      - clickwrap
      - docusign
      - override
  responses:
    '400':
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiResponseInvalidRequest'
    '405':
      description: Method not allowed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiResponseNotFound'
    '404':
      description: Not found or no access
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiResponseNotFound'
    '403':
      description: Invalid api key / missing scope
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiResponseInvalidApiKeyOrMissingScope'
  securitySchemes:
    apiKey:
      type: apiKey
      name: x-sb-api-key
      in: header
