openapi: 3.1.0
info:
  title: Drata Public API v2 Assets Personnel API
  version: 2.0.0
  description: Best-effort OpenAPI for Drata's Public REST API v2, used to manage assets, personnel, controls, frameworks, evidence, policies, vendors, tasks, audits, risks, and monitoring tests for SOC 2, ISO 27001, HIPAA, PCI DSS, GDPR and other compliance programs.
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
    url: https://developers.drata.com/openapi/reference/v2/overview/
servers:
- url: https://public-api.drata.com/public/v2
  description: Drata Public API v2
security:
- bearerAuth: []
tags:
- name: Personnel
paths:
  /personnel:
    get:
      tags:
      - Personnel
      summary: List personnel
      operationId: listPersonnel
      responses:
        '200':
          description: A page of personnel records
    post:
      tags:
      - Personnel
      summary: Create personnel
      operationId: createPersonnel
      responses:
        '201':
          description: Personnel created
  /personnel/{personnelId}:
    parameters:
    - name: personnelId
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Personnel
      summary: Get personnel
      operationId: getPersonnel
      responses:
        '200':
          description: Personnel record
    put:
      tags:
      - Personnel
      summary: Update personnel
      operationId: updatePersonnel
      responses:
        '200':
          description: Personnel updated
    delete:
      tags:
      - Personnel
      summary: Delete personnel
      operationId: deletePersonnel
      responses:
        '204':
          description: Personnel removed
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
